/*!
 * 제작자 : 유영선 
 * Copyright 2017-2017 Start Bootstrap
 */
@import "css/font/font.css";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
body {
  font-family: 'Noto Sans UI', 'Noto Sans KR', 'Helvetica Neue', Helvetica, Arial, sans-serif !important;
  overflow-x: hidden;
}
.isActive {
  display: block !important;
}
.isDeactive {
  display: none !important;
}
#skipnav a {
  padding: 6px;
  position: absolute;
  top: -40px;
  left: 0px;
  color: white;
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  border-bottom-right-radius: 8px;
  background: transparent;
  transition: top 1s ease-out, background 1s linear;
  z-index: 2000;
}
#skipnav a:focus {
  position: absolute;
  left: 0px;
  top: 0px;
  background: white;
  outline: 0;
  transition: top 0.1s ease-in, background 0.5s linear;
}
div#maincontent {
  outline: none;
}
.subTitle {
  color: black;
  font-size: 18px;
  font-weight: bold;
  height: 65px;
  width: 100%;
  background-color: #f8f8f8;
  margin-top: 9px;
  text-align: center;
  line-height: 58px;
}
.subInfo {
  height: 170px;
}
.subInfo .pic {
  width: 120px;
  padding-left: 20px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
  height: inherit;
}
.subInfo .info {
  display: inline-block;
  vertical-align: middle;
  text-align: left;
  height: inherit;
  width: inherit;
  padding-top: 30px;
  padding-left: 10px;
}
.subInfo > div {
  display: inline;
  height: inherit;
}
.subInfo .right {
  float: right;
  display: inline;
  vertical-align: middle;
  text-align: left;
  height: inherit;
  padding-top: 35px;
}
.subInfo .right .followbutton {
  float: right;
  width: 90px;
  height: 45px;
  border: 1px #b4b4b4 solid;
  text-align: center;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  line-height: 45px;
  margin-right: 20px;
  font-size: 15px;
  font-weight: 500;
  color: #b4b4b4;
}
.subInfo .followbutton:hover {
  border: 1px #252525 solid;
  color: #252525;
}
.filterMainMenu,
.filterMenu {
  width: 100%;
}
.filterMainMenu .menu,
.filterMenu .menu {
  width: 100%;
  display: block;
  padding: 0px;
  height: 54px;
  line-height: 50px;
  font-size: 15px;
  color: #b4b4b4;
}
.filterMainMenu .menu > div,
.filterMenu .menu > div {
  display: inline;
  text-align: center;
  font-size: 15px;
  color: #b4b4b4;
}
.filterMainMenu .menu > .horizontal > span,
.filterMenu .menu > .horizontal > span {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-size: 15px;
  color: #b4b4b4;
}
.filterMainMenu .menu.menu-up,
.filterMenu .menu.menu-up {
  border-bottom: 2px #e4e4e4 solid;
}
.filterMainMenu .menu.menu-down,
.filterMenu .menu.menu-down {
  overflow-x: scroll;
  overflow-y: hidden;
}
.filterMainMenu .menu.menu-down .horizontal,
.filterMenu .menu.menu-down .horizontal {
  white-space: nowrap;
}
.filterMenu .menu.menu-up > div:active,
.filterMenu .menu.menu-up > div:hover,
.filterMenu .menu.menu-up > div:focus {
  color: #252525;
  border-bottom: 2px #fed664 solid;
}
.filterMenu .menu.menu-down > .horizontal > span:active,
.filterMenu .menu.menu-down > .horizontal > span:hover,
.filterMenu .menu.menu-down > .horizontal > span:focus {
  color: #252525;
}
.filterMainMenu .menu.menu-up > div:active,
.filterMainMenu .menu.menu-up > div:hover,
.filterMainMenu .menu.menu-up > div:focus {
  color: #252525;
  border-bottom: 2px #fed664 solid;
}
.filterMainMenu .menu.menu-down > .horizontal > span:active,
.filterMainMenu .menu.menu-down > .horizontal > span:hover,
.filterMainMenu .menu.menu-down > .horizontal > span:focus {
  color: #252525;
}
.wrapper {
  opacity: 1;
  transition: 0.5s;
  background-color: #efefef;
}
.wrapper.dimmed {
  background-color: #000;
}
.wrapper.dimmed > div {
  opacity: .2;
}
.left-menu {
  height: 100%;
  width: 85%;
  /* fixed */
  display: none;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ffffff;
  overflow-x: hidden;
  clear: both;
  padding: 0px;
}
.left-menu .logInfo {
  padding: 20px 22px 0px 15px;
}
.left-menu .logInfo .title {
  margin: 0px;
  margin-bottom: 22px;
  font-size: 22px;
  font-weight: 800;
}
.left-menu .logInfo .content {
  margin: 0px;
  margin-bottom: 20px;
  font-size: 11px;
}
.left-menu .logInfo .title .close {
  /* fixed */
  float: right;
}
.left-menu .logInfo .button-group div {
  margin: 0px 10px 23px 0px;
  width: 45%;
  padding: 10px 30px 10px 30px;
  font-size: 12px;
  display: inline-block;
  background-color: red;
  /* fixed */
  text-align: center;
  white-space: nowrap;
}
.left-menu .logInfo .button-group div.yellow {
  background-color: #fed664;
}
.left-menu .logInfo .button-group div.black {
  background-color: #333333;
  color: white;
}
.left-menu .submenu {
  clear: both;
}
.left-menu .submenu div.group.title {
  background-color: #eeeeee;
}
.left-menu .submenu div.group.title div {
  padding: 15px 22px 15px 15px;
  font-size: 12px;
}
.left-menu .submenu div.group.contents .horizontalElement.follow {
  padding: 15px 20px 15px 15px;
  display: inline-block;
  width: 31%;
  text-align: center;
}
.left-menu .submenu div.group.contents .horizontalElement {
  padding: 15px 7px 19px 8px;
  display: inline-block;
  width: 31%;
  text-align: center;
}
.left-menu .submenu div.group.contents .horizontalElement:first-child {
  margin-left: 7px;
}
.left-menu .submenu div.group.contents .horizontalElement img {
  width: 100%;
  height: auto;
}
.left-menu .submenu div.group.contents .horizontalElement.follow .face > img {
  border-radius: 50%;
  margin-bottom: 7px;
}
.left-menu .group.tab > div {
  font-size: 12px;
  background-color: #eeeeee;
  text-align: center;
  width: 50%;
  float: left;
  padding: 15px 0px 15px 0px;
}
.left-menu .group.tab > div.deactive {
  background-color: #ffffff;
}
.left-menu .list {
  clear: both;
}
.left-menu .list .list-mainmenu {
  display: block;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
.left-menu .list .list-mainmenu.selected {
  background-color: #333333;
}
.left-menu .list .list-mainmenu li div {
  background-color: #ffffff;
  list-style-type: none;
  padding: 10px 15px 10px 15px;
  margin: 0px;
  font-size: 11px;
}
.left-menu .list .list-mainmenu li div:hover {
  background-color: #333333;
  color: #fed664;
}
.left-menu .list .list-mainmenu li div.active {
  background-color: #333333;
  color: #fed664;
}
.left-menu .list .list-mainmenu li {
  list-style-type: none;
  border: 1px solid #eeeeee;
  border-left-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  margin: 0px;
  color: #333333;
}
.left-menu .list .list-mainmenu .list-submenu {
  display: none;
  margin: 0px;
  padding: 0px;
  background-color: #ffffff;
}
.left-menu .list .list-mainmenu .list-submenu li {
  list-style-type: none;
  border: 1px solid #eeeeee;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 0px;
  margin: 0px;
  padding: 15px 15px 15px 20px;
  color: #333333;
}
.MainTopSubMenu .subTitle .horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
.MainTopSubMenu .horizontal > span {
  padding-left: 20px;
  padding-right: 20px;
  display: inline-block;
  font-size: 15px;
  color: #b4b4b4;
}
.MainTopFollowList .horizontal {
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}
nav .container {
  width: 100% !important;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 30px !important;
}
.navbar {
  line-height: 0px !important;
  box-shadow: none !important;
}
/* 공통 */
.wrapper {
  padding: 0px;
  margin: 0px;
  background-color: #efefef;
  font-family: "Noto Sans UI", "Noto Sans KR";
}
.wrapper > div {
  padding: 0px;
  margin: 0px;
}
/* 공통 : 탑메뉴 */
.navbar {
  height: 58px;
  /* fixed */
  background-color: #fed664;
  /*탑메뉴의 배경화면*/
}
.navbar-header > .navbar-brand {
  font-family: "Noto Sans KR";
  margin-left: -42px;
  font-weight: 500;
  font-size: 27px;
  height: 58px;
  /* fixed */
  left: 50%;
  position: absolute;
  color: #252525;
  /*타이틀 제목*/
}
.navbar-header .navbar-toggle {
  margin-left: 9px;
  /* fixed */
  float: left !important;
  border-color: transparent;
  /* 좌측 메뉴 버튼 */
}
.navbar-default .navbar-toggle .icon-bar {
  /* fixed */
  boder-bottom-color: #252525;
  background-color: #252525 !important ;
  color: #252525;
  /* 좌측 메뉴 버튼의 아이콘 (셋삼)*/
}
/* 탑메뉴 : 정리필요 */
.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
  /* fixed */
  background-color: #fed664 !important;
}
.navbar.navbar-default {
  /* fixed */
  margin-bottom: 0px;
  /* navbar에 있는 마진값을 제거함. 추후 정리필요*/
}
/* 공통 :  서브메뉴 */
.subTitle {
  height: 40px;
  /* fixed */
  overflow-x: hidden;
  overflow-y: hidden;
  white-space: nowrap;
  margin: 0px;
  line-height: 40px;
  color: #252525;
  /*서브메뉴*/
}
.subTitle .horizontal {
  height: 40px;
  /* fixed */
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  /*서브메뉴 안*/
}
.subTitle .horizontal > span {
  font-family: "Noto Sans KR";
  padding-right: 15px;
  /*최적맞춤*/
  font-size: 15px;
  padding-left: 15px;
  /*최적맞춤*/
  font-weight: 500;
  /* fixed */
  height: inherit;
  color: #252525;
  /*서브메뉴의 메뉴*/
}
.subTitle .horizontal > span:hover {
  color: #252525;
  border-bottom-width: 2px;
  border-style: solid;
  border-bottom-color: #fed664;
}
/* 공통 : 상품 */
.productlist {
  padding-top: 25px;
  overflow: hidden;
  background-color: #ffffff;
}
.productlist .itemlist {
  /*아이템의 리스트의 상자가 정의됨 */
}
.productlist .itemlist div {
  /* fixed */
  text-align: center;
}
/* 공통 : 프로덕트 */
.product.type1 {
  margin-bottom: 20px;
  padding: 0.5px;
}
.product.type1 .main-img {
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product.type1 > .model {
  padding-top: 10px;
  font-weight: 800;
  color: #0961f2;
}
.product.type1 > .name {
  padding-top: 10px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
}
.product.type1 > .price {
  padding-top: 6px;
  font-weight: 700;
  color: #999999;
}
.product.type1 > .heart {
  padding-top: 10px;
  color: #999999;
  padding: 5px;
}
/* 공통 : 프로덕트 */
.product.type2 {
  margin-bottom: 20px;
  padding: 0.5px;
}
.product.type2 .main-img {
  /* fixed */
  width: 100%;
  height: 0;
  padding-bottom: 100%;
  display: block;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}
.product.type2 > .model {
  padding-left: 10px;
  text-align: left;
}
.product.type2 > .name {
  padding-left: 10px;
  font-weight: 700;
  padding-top: 5px;
  /* fixed */
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  display: block;
  overflow: hidden;
}
.product.type2 > .modelface {
  text-align: left;
}
.product.type2 > .modelface > img {
  margin-left: 10px;
  margin-top: -25px;
  width: 50px;
  height: 50px;
  /* fixed */
  border-radius: 50%;
  border: 2px solid white;
}
.product.type2 .price {
  text-align: left;
  font-weight: 800;
  margin-left: 10px;
  padding-bottom: 5px;
  /* fixed */
  display: inline-block;
}
.product.type2 .heart {
  display: inline-block;
  float: right;
  margin-right: 5px;
}
.product.type2 .heart > img {
  width: 13px;
  height: 12px;
  /* fixed */
  vertical-align: middle;
}
.product.type2 div {
  text-align: left;
}
/* 메인 : 팔로우 리스트 */
.MainTopFollowList {
  height: 120px;
  padding: 0;
  text-align: center;
  margin: 0;
  font-weight: bold;
  width: 100%;
  background-color: #ffffff;
  /*fixed*/
  margin-top: 7px;
  margin-bottom: 7px;
}
.MainTopFollow {
  display: inline-block;
  color: #252525;
}
.MainTopFollow > a > img {
  text-align: center;
  width: 70px;
  display: inline-block;
  margin-top: 15px;
  border-radius: 50%;
}
.MainTopFollow > div {
  display: block;
  font-size: 13px;
  height: 16px;
  margin-top: 5px;
  margin-right: 15px;
  margin-left: 15px;
}
/* 타이틀 : 세로무늬로 된 타이틀*/
.bartitle {
  padding-top: 53px !important;
  padding-bottom: 25px !important;
  background-color: white;
  background-position-y: 56px;
  background-repeat: repeat-x;
  height: 63px;
  margin-bottom: 20px;
  /* fixed */
  background-image: url("../img/main/bg.png");
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
.bartitle .title {
  display: inline-block;
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  width: 156px;
  /* fixed */
  background: white;
}
/* 탑슬라이더 정의 안됬으므로 아이폰사이즈 기준으로 250*/
.MainTopSlider > div {
  height: 250px;
  margin-bottom: 7px;
}
/* NewItem */
.NewItemList > .productlist {
  padding-top: 19px !important;
}
.NewItem .sortArr {
  margin-top: -10px;
  right: 22px;
  position: absolute;
  display: inline-block;
}
.NewItemList .sortArr {
  display: none;
  padding-right: 22px;
}
.NewItem .title {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 33px;
}
.NewItem .category {
  text-align: center;
  background-color: white;
  width: 100%;
}
.NewItem .category .inner {
  text-align: center;
  width: 85%;
  margin: auto;
}
.NewItem .category .inner div {
  border-radius: 0px;
  background-color: white;
  padding: 3px 0px 3px;
  display: inline-block;
  width: 19%;
  color: #919191;
}
.NewItem .category .inner div:hover,
.NewItem .category .inner div:focus {
  border-radius: 3px;
  background-color: #efefef;
  padding: 3px 0px 3px;
  color: #252525;
}
/* AllItem */
.AllItemList > .productlist {
  padding-top: 19px !important;
}
.AllItem .sortArr {
  margin-top: -10px;
  right: 22px;
  position: absolute;
  display: inline-block;
}
.AllItemList .sortArr {
  display: none;
  padding-right: 22px;
}
.AllItem .title {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 33px;
}
.AllItem .category {
  text-align: center;
  background-color: white;
  width: 100%;
}
.AllItem .category .inner {
  text-align: center;
  width: 85%;
  margin: auto;
}
.AllItem .category .inner div {
  border-radius: 0px;
  background-color: white;
  padding: 3px 0px 3px;
  display: inline-block;
  width: 19%;
  color: #919191;
}
.AllItem .category .inner div:hover,
.AllItem .category .inner div:focus {
  border-radius: 3px;
  background-color: #efefef;
  padding: 3px 0px 3px;
  color: #252525;
}
/**/
.ListContent.title {
  font-weight: 900;
  letter-spacing: 1px;
  font-size: 12px;
  text-align: center;
  margin-top: 7px;
  background-color: white;
  padding-top: 30px;
  padding-bottom: 33px;
}
/*MyPage*/
.tabselector {
  display: block;
  clear: both;
  overflow: hidden;
  margin: 0px auto;
}
.tabselector .line {
  width: 100%;
  display: block;
  padding: 0;
  margin: 0px auto;
  text-align: center;
}
.tabselector .button {
  width: 32%;
  height: 40px;
  padding-left: 15px;
  text-align: left;
  line-height: 40px;
  background-color: white;
  display: inline-block;
}
.tabselector .button > img {
  width: 25px;
  height: 25px;
}
.tabselector .button > span {
  padding-left: 5px;
  color: #333333;
  word-wrap: normal;
  word-break: keep-all;
  font-size: 12px;
}
.tabselector .button.isSelected {
  background-color: #eeeeee;
}
.taborderfliter {
  display: block;
  padding: 0px;
  margin: 10px 0px 0px 0px;
  overflow: hidden;
}
.taborderfliter .line {
  width: 100%;
  display: block;
  padding: 0px;
  text-align: center;
  overflow: hidden;
}
.taborderfliter .block {
  float: left;
  height: 50px;
  line-height: 50px;
  width: 50%;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
}
.taborderfliter .block.isactive {
  background-color: #fdd04e;
}
.taborderfliter .content {
  width: 100%;
}
.taborderfliter .contentline {
  padding: 10px 0px 0px 10px;
  display: block;
}
.taborderfliter .title {
  width: 15%;
  display: inline-block;
}
.taborderfliter .condition {
  width: 83%;
  display: inline-block;
}
.taborderfliter .button {
  display: inline-block;
  border: 1px #999999 solid;
  padding: 5px 7px 5px 7px;
  border-radius: 5px;
}
input.date {
  width: 80px;
  padding: 5px 3px 5px 3px;
  border-radius: 5px;
}
input.calenderbutton {
  width: 25px;
  padding: 0px;
  margin: 0px;
}
.orderlist {
  display: block;
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;
}
.orderlist .line {
  width: 100%;
  display: block;
  color: #474747;
  margin: 5px;
}
.orderlist .line .product {
  display: inline-block;
  width: 35%;
}
.orderlist .line .productinfo {
  display: inline-block;
  width: 63%;
}
.orderlist .line .productinfo > span {
  display: block;
}
.orderlist .line.isCenter {
  text-align: center;
}
.orderlist .header {
  background-color: #f9f9f9;
  padding: 15px 0px 15px 0px;
}
.orderlist .line .button.isState {
  background-color: #42669f;
  color: white;
}
.orderlist .line .button {
  display: inline-block;
  width: 22%;
  border: 1px #a3a3a3 solid;
  border-radius: 5px;
  padding: 10px;
}
.wishlist {
  display: block;
  background-color: #ffffff;
  padding: 15px 0px 15px 0px;
}
.wishlist .line {
  width: 100%;
  display: block;
  color: #474747;
}
.wishlist .block {
  height: 50px;
  line-height: 50px;
  width: 100%;
  background-color: #ffffff;
  display: inline-block;
  padding: 0px;
  margin: 0px auto;
  text-align: center;
}
.wishlist .block.isactive {
  background-color: #fdd04e;
}
.wishlist .line .product {
  display: inline-block;
  width: 35%;
}
.wishlist .line .productinfo {
  display: inline-block;
  width: 63%;
  text-align: left;
}
.wishlist .line .productinfo > span {
  display: block;
}
.wishlist .line.isCenter {
  text-align: center;
}
.wishlist .header {
  background-color: #f9f9f9;
  padding: 15px 0px 15px 0px;
}
.wishlist .line .button.isState {
  background-color: #42669f;
  color: white;
}
.wishlist .line .button {
  display: inline-block;
  border: 1px #a3a3a3 solid;
  border-radius: 5px;
  padding: 10px;
}
.wishlist .line .button.isOrder {
  display: inline-block;
  background-color: #ff0000;
  color: white;
  border: 1px #a3a3a3 solid;
  border-radius: 5px;
  padding: 5px;
  margin: 10px;
}
.topstate {
  display: block;
  background-color: #333333;
  padding: 15px 0px 15px 20px;
}
.topstate .line {
  display: block;
  color: white;
  margin: 5px;
}
.topstate .line > span.isvalue {
  color: blue;
  color: #6c9cff;
}
.point {
  width: 100%;
  display: block;
}
.point .line {
  width: 100%;
  display: block;
}
.point .line.isMainTitle {
  background-color: #fdd04e;
  color: black;
}
.point .line.isLeft {
  text-align: left;
  padding-left: 20px;
}
.point .line.isCenter {
  text-align: center;
}
.point .line.isTitle {
  height: 50px;
  line-height: 50px;
}
.rollMenu .line.isSubTitle {
  background-color: #f9f9f9;
  color: black;
}
.rollMenu .content {
  display: none;
}
.rollMenu .content .line {
  padding: 20px;
}
.rollMenu .content .line > .title {
  display: inline-block;
  width: 20%;
  margin-left: 20px;
  word-wrap: normal;
  word-break: keep-all;
}
.rollMenu .content .line > .value {
  display: inline-block;
  width: 70%;
}
.rollMenu.isSelected .line.isSubTitle {
  background-color: #333333;
  color: white;
}
.rollMenu.isSelected .content {
  display: block;
}
.willPoint {
  width: 100%;
  display: block;
}
.willPoint .line {
  width: 100%;
  display: block;
}
.willPoint .line.isMainTitle {
  background-color: #fdd04e;
  color: black;
}
.willPoint .line.isLeft {
  text-align: left;
  padding-left: 20px;
}
.willPoint .line.isCenter {
  text-align: center;
}
.willPoint .line.isTitle {
  height: 50px;
  line-height: 50px;
}
.rollMenu .line.isSubTitle {
  background-color: #f9f9f9;
  color: black;
}
.rollMenu .content {
  display: none;
}
.rollMenu .content .line {
  padding: 20px;
}
.rollMenu .content .line > .title {
  display: inline-block;
  width: 20%;
  margin-left: 20px;
  word-wrap: normal;
  word-break: keep-all;
}
.rollMenu .content .line > .value {
  display: inline-block;
  width: 70%;
}
.rollMenu.isSelected .line.isSubTitle {
  background-color: #333333;
  color: white;
}
.rollMenu.isSelected .content {
  display: block;
}
.coupon {
  width: 100%;
  display: block;
}
.coupon .line {
  width: 100%;
  display: block;
}
.coupon .line.isMainTitle {
  background-color: #fdd04e;
  color: black;
}
.coupon .line.isSubTitle {
  background-color: #333333;
  color: white;
}
.coupon .line.isLeft {
  text-align: left;
  padding-left: 20px;
}
.coupon .line.isCenter {
  text-align: center;
}
.coupon .line.isTitle {
  height: 50px;
  line-height: 50px;
}
.coupon .line.isBlock {
  padding: 0px;
}
.coupon .line.isDescription {
  color: gray;
  padding: 20px;
}
.coupon .line > .title {
  display: inline-block;
  width: 20%;
  word-wrap: normal;
  word-break: keep-all;
}
.coupon .line > .value {
  display: inline-block;
  width: 70%;
}
.rollMenu .line.isSubTitle {
  background-color: #f9f9f9;
  color: black;
}
.rollMenu .content {
  display: none;
}
.rollMenu .content .line {
  padding: 20px;
}
.rollMenu.isSelected .line.isSubTitle {
  background-color: #333333;
  color: white;
}
.rollMenu.isSelected .content {
  display: block;
}
input.coupon {
  width: 50%;
  padding: 5px 3px 5px 3px;
  display: inline-block;
  margin-left: 20px;
}
span.button {
  border: 1px black solid;
  border-radius: 5px;
  padding: 5px;
  margin-left: 15px;
  font-size: 12px;
  background-color: black;
  color: white;
}
/* Join */
#fregisterform {
  margin: 0px !important;
}
.tbl_wrap {
  margin: 10px 0px 10px 10px !important;
}
