<script>
(function(){
  backcontroller.Component.init({
    type : "PHP",
  Name : "JoinCheck",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#JoinCheck',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".JoinCheck",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="JoinCheck">
  <div class="subTitle">회원가입</div>
  <?php
  include_once('./yc/common.php');

  // 로그인중인 경우 회원가입 할 수 없습니다.
  if ($is_member) {
      goto_url(G5_URL);
  }

  // 세션을 지웁니다.
  set_session("ss_mb_reg", "");

  $g5['title'] = '회원가입약관';
  include_once('./yc/head.php');

//  $register_action_url = G5_BBS_URL.'/register_form.php';
  $register_action_url = './join.html';
  include_once($member_skin_path.'/register.skin.php');

  include_once('./yc/tail.php');
  ?>


</script>
