<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Navigation -->

    <div id="leftMenu"  class="left-menu">
      <div class="LeftMenuTopMenuInfo"></div>
      <div class="LeftMenuFollowList"></div>
      <div class="LeftMenuMenuList"></div>
      <div class="LeftMenuLatestList"></div>
      <div class="LeftMenuFooter"></div>
    </div>


    <div class="wrapper">

      <div id="MainPage">
        <div class="MainTopMenu"></div>
        <div class="MainTopSubMenu"></div>
        <div class="MainTopFollowList"></div>
        <div class="MainTopSlider"></div>
        <div class="MainMiddleListSlider"></div>
        <div class="MainFocusOn"></div>
        <div class="MainNewItem"></div>
        <div class="MainMiddleBanner"></div>
        <div class="MainBestItem"></div>
        <div class="MainCategory"></div>
        <div class="MainInstagram"></div>
        <div class="MainFooter"></div>
      </div>


      <div id="DetailPage" style="display:none">
        <div class="DetailTopMenu"></div>
        <div class="DetailSlider"></div>
        <div class="DetailPriceInfo"></div>
        <div class="DetailContents"></div>
        <div class="DetailBottomMenu"></div>
        <div class="DetailBottomItems"></div>
      </div>


      <div id="StorePage" style="display:none">
        <div style="background-color:black;" class="StoreTopMenuInfo"></div>
        <div class="StoreSubInfo"></div>
        <div class="StoreFilterMenu filterMenu"></div>
        <div class="StoreItemList"></div>
      </div>


      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
          <a class="btn btn-primary" href="#page-top">
              <i class="fa fa-chevron-up"></i>
          </a>
      </div>
  </div>

    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <!-- Contact Form JavaScript -->
    <script src="js/jqBootstrapValidation.js"></script>
    <script src="js/contact_me.js"></script>
    <!-- Theme JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="js/delibe.js"></script>
