
    <!-- jQuery -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <!-- Bootstrap Core JavaScript -->
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <!-- Plugin JavaScript -->
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <!-- Theme JavaScript -->
    <script src="js/underscore.min.js"></script>
    <script src="js/backcontroller.min.js"></script>
    <script src="js/frontcontroller.min.js"></script>
