<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuTopMenuInfo',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuTopMenuInfo",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuTopMenuInfo">
  <div class="logInfo">
    <div class="group title"><span>#B</span><span  onclick="closeNav()"style="float:right;">X</span></div>
    <div class="group content">
      <div>안녕하세요, 인탑님. </div>
      <div>#B에 오신걸 환영합니다.</div>
    </div>
    <%if(document.querySelector("#loginsuccess")){%>
      <div class="group button-group">
        <a href="mypage.html"><div class="yellow">마이페이지</div></a>
        <a href="#"><div class="black">위시리스트</div></a>
      </div>
    <%}else{%>

      <div class="group button-group">
        <a href="login.html?device=mobile"><div class="yellow">로그인</div></a>
        <a href="joincheck.html?device=mobile"><div class="black">회원가입</div></a>
      </div>
    <%}%>
  </div>
</script>
