<script type="text/template" id="LeftMenuFollowList">
  <div class="submenu">
    <div class="group title">
      <div>Folow</div>
    </div>
    <div class="group contents">
      <div class="follow" onclick="GoStore();">
        <div class="face" style="padding:20 20 10 20px;"><img src="img\subinfo\subInfoMockup.png" style="width:100%;"></div>
        <div class="name" style="padding-bottom:20px;">chu</div>
      </div>
      <div class="follow" onclick="GoStore();">
        <div class="face" style="padding:20 20 10 20px;"><img src="img\subinfo\subInfoMockup.png" style="width:100%;"></div>
        <div class="name" style="padding-bottom:20px;">chu</div>
      </div>
      <div class="follow" onclick="GoStore();">
        <div class="face" style="padding:20 20 10 20px;"><img src="img\subinfo\subInfoMockup.png" style="width:100%;"></div>
        <div class="name" style="padding-bottom:20px;">chu</div>
      </div>
    </div>
  </div>
</script>
