
<script type="text/template" id="LeftMenuLatestList">
  <div class="submenu">
    <div class="group title">
      <div>최근에 본 상품</div>
    </div>
    <div class="group contents">
      <div class="follow" onclick="GoDetail();">
        <div class="face"><img src="./img/shoplist/1.jpg" style="padding:10px 0px 10px 10px;width:100%;"/></div>
      </div>
      <div class="follow" onclick="GoDetail();">
        <div class="face"><img src="./img/shoplist/1.jpg" style="padding:10px 0px 10px 10px;width:100%;"/></div>
      </div>
      <div class="follow" onclick="GoDetail();">
        <div class="face"><img src="./img/shoplist/1.jpg" style="padding:10px 0px 10px 10px;width:100%;"/></div>
      </div>
    </div>
  </div>
</script>
