<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuFooter',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuFooter",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuFooter">
  <div class="footer" style="padding:15px;background-color: #333333;color:#888888;">
    <div class="group title">
    <div style="display:block;text-align:center;">
      <div style="display:inline-block;width:10%;text-align:left;vertical-align:middle;">ㅅ</div>
      <div style="display:inline-block;width:40%;vertical-align:middle;text-align:left;font-size:8px;">
        <div>고객센터</div>
        <div>Weekdays 9:30 ~ 18:00</div>
        <div>Sat,Sun,Holiday OFF</div>
      </div>
      <div style="display:inline-block;text-align:left;width:45%;font-size:20px;vertical-align:middle;">
        <span style="margin:5px;">1522-6631</span>
      </div>
    </div>
    </div>
  </div>
</script>
