<?php
include_once('./yc/common.php');
define('_SHOP_', true);
?>
<!DOCTYPE html><html>
<head>

    <meta charset="utf-8">
    <META http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delibe Light</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <!-- Theme CSS -->
    <link href="css/common.min.css" rel="stylesheet">
    <link href="css/font/font.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="/yc/theme/basic/css/mobile_shop.css?ver=161020">
    <link rel="stylesheet" href="/yc/mobile/skin/member/delibe/style.css?ver=161020">


    <link rel="stylesheet" href="css/swiper.css"/>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/backcontroller.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<?php
if ($is_member){
  $member = get_member($_SESSION['ss_mb_id']);
  echo "<div id='loginsuccess' style='display:none'>".$member['mb_id']."</div>";
}


?>

<script data-bc="action">
(function(){
  backcontroller.Component.init({
  Name : "Common",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#TopMenu',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".TopMenu",
  afterEvent : function(){
  }})
})()
</script>

<script type="text/template" id="TopMenu" data-bc="template">

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button onclick="openNav()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only" >Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand" href="#" onclick="GoMain()">#B</span>
              <a href="search.html"><button type="button" class="navbar-toggle" style="background:transparent;border:none;margin:0px;margin-right:9px;margin-top:9px;margin-bottom:9px;float:right !important;"><img src="./img/main/zoom.png" style="height:20px;"/></button></a>
              <button type="button" class="navbar-toggle"  style="background:transparent;border:none;margin:0px;margin-top:9px;margin-bottom:9px;float:right !important;"><a href="cart.html"><img src="./img/main/shopping-cart.png" style="height:20px;"/></a></button>
          </div>
      </div>
  </nav>

</script>

<script data-bc="action">
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuTopMenuInfo',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuTopMenuInfo",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuTopMenuInfo" data-bc="template">
  <div class="logInfo">
    <div class="group title">
      <span>#B</span>
      <div class="close" onclick="closeNav()"><img src="img\close.png" style="width:100%;height:100%;"></div>
    </div>
    <div class="group content">
      <div>안녕하세요, <span style="color:#0e64f2;">인탑</span>님. </div>
      <div>#B에 오신걸 환영합니다.</div>
    </div>
    <%if(document.querySelector("#loginsuccess")){%>
      <div class="group button-group">
        <a href="mypage.html"><div class="yellow">마이페이지</div></a>
        <a href="wish.html"><div class="black">위시리스트</div></a>
      </div>
    <%}else{%>

      <div class="group button-group">
        <a href="login.html?device=mobile"><div class="yellow">로그인</div></a>
        <a href="joincheck.html?device=mobile"><div class="black">회원가입</div></a>
      </div>
    <%}%>
  </div>
</script>

<script data-bc="action">
(function(){
  var purl;
  if($("#loginsuccess").length > 0){
    purl = "/yc/api/model.php?m=get&q=/follow/"+$("#loginsuccess").text();
  }else{
    purl = "/yc/api/model.php";
  }
  console.log(purl);

  backcontroller.Component.init({
    Name : "LeftMenu",
    Data : {
      name : "LeftFollowList",
      url : purl
    },
    templateSelector : '#LeftMenuFollowList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuFollowList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuFollowList" data-bc="template">
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "."%>
  <div class="submenu">
    <div class="group title">
      <div>Follow<span style="float:right"><img src="img/plus.png"/></span></div>
    </div>
    <div class="group contents" style="white-space:nowrap;overflow-x:scroll;">
    <% for(i=0;i<itemlist.length;i++){%>
      <a href="./store.html#<%=itemlist[i].name%>">
      <div class="horizontalElement follow">
        <div class="face"><img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>" style="width:100%;"></div>
        <div class="name"><%=itemlist[i].name%></div>
      </div>
      </a>
    <%}%>

    </div>
  </div>
</script>

<script data-bc="action">
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    Data : {
      name : "LeftMenu",
      url : "/yc/api/category.php"
    },
    templateSelector : '#LeftMenuMenuList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuMenuList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuMenuList" data-bc="template">
  <% var categorylist = obj.sort(function(a,b){return (a.ca_id.toString() > b.ca_id.toString() ? 1 : 0 )});%>

  <div class="list">

    <div class="group tab">
      <div>
        <div>Item</div>
      </div>
      <div class="deactive">
        <div>Celeb</div>
      </div>
    </div>
    <ul class="list-mainmenu" style="clear:both;">
      <% for(i=0;i<categorylist.length;i++){%>
      <% var caid=categorylist[i].ca_id %>
      <li>
        <% if(caid.toString().length == 2){%>
        <div><%=categorylist[i].ca_name%></div>
        <ul class="list-submenu">
        <% while(categorylist[i+1] !== undefined && categorylist[i+1].ca_id.toString().length == 4){%>
            <li>- <%=categorylist[i++].ca_name%></li>
        <%}%>
        </ul>
        <%}%>


      </li>
      <% }%>

    </ul>
</div>
</script>

<script data-bc="action">
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuLatestList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuLatestList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuLatestList" data-bc="template">
  <div class="submenu">
    <div class="group title">
      <div>최근에 본 상품</div>
    </div>
    <div class="group contents">
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
    </div>
  </div>
</script>

<script data-bc="action">
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuFooter',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuFooter",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuFooter" data-bc="template">
  <div class="footer" style="padding:15px 0px 15px 0px;background-color: #333333;color:#888888;">
    <div class="group title">
    <div style="display:block;text-align:center;">
      <div style="display:inline-block;width:17%;text-align:left;vertical-align:middle;padding:10px 10px 10px 10px;"><img src="img/call.png" style="width:100%"></div>
      <div style="display:inline-block;width:34%;vertical-align:middle;text-align:left;font-size:8px;">
        <div style="font-size:12px;">고객센터</div>
        <div style="font-size:8px;">Weekdays 9:30 ~ 18:00</div>
        <div style="font-size:8px;">Sat,Sun,Holiday OFF</div>
      </div>
      <div style="display:inline-block;text-align:left;width:45%;font-size:24px;vertical-align:middle;white-space:nowrap">
        <span style="margin:5px;text-align:center;">1522-6631</span>
      </div>
    </div>
    </div>
  </div>
</script>

<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Navigation -->

    <div id="leftMenu"  class="left-menu">
      <div class="LeftMenuTopMenuInfo"></div>
      <div class="LeftMenuFollowList"></div>
      <div class="LeftMenuMenuList"></div>
      <div class="LeftMenuLatestList"></div>
      <div class="LeftMenuFooter"></div>
    </div>


    <div class="wrapper">
      <div id="Celeb">
        <div class="TopMenu"></div>
        <div class="MiddleMenu"></div>
        <div class="CelebPage"></div>
        <div class="BestCelebPage"></div>
        <div class="HotCelebPage"></div>
        <div class="AllCelebPage"></div>
      </div>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
          <a class="btn btn-primary" href="#page-top">
              <i class="fa fa-chevron-up"></i>
          </a>
      </div>
  </div>

<script>
(function(){
  backcontroller.Component.init({
  Name : "MiddleMenu",
  templateSelector : '#MiddleMenu',
  stateProcessor : function(data){
  },
  targetSelector : ".MiddleMenu",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MiddleMenu">
  <div class="subTitle">
    <div class="horizontal" style="background-color:#ffffff">
      <span><a href="new.html">BEST</a></span>
      <span><a href="new.html">NEW</a></span>
      <span><a href="celeb.html">CELLEB</a></span>
      <span><a href="allitem.html">ITEM</a></span>
      <span><a href="tag.html">#TAG</a></span>
    </div>
  </div>

</script>

<script>
(function(){
  var purl;
  if($("#loginsuccess").length > 0){
    purl = "/yc/api/model.php?m=get&q=/follow/"+$("#loginsuccess").text();
  }else{
    purl = "/yc/api/model.php";
  }

  backcontroller.Component.init({
    Name : "Celeb",
    Data : {
      name : "CelebList",
      url : purl
    },
    templateSelector : '#CelebPage',
    stateProcessor : function(data){
    },
    targetSelector : ".CelebPage",
    afterEvent : function(){
    }
  })

})()
</script>
<script type="text/template" id="CelebPage">

<style>
.title{
  font-weight:900;letter-spacing:1px;font-size:12px;
  text-align:center;margin-top:7px;background-color:white;padding-top:30px;padding-bottom:33px;
}
  .celeb{
    display:inline-block;
  }
  .celeb img{
    border-radius: 100%;
  }
  .celeb span{
    font-size:16px;
  }
</style>
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "."%>

    <div class="horizontal" style="background-color:white;">
      <style>
      </style>
      <div class="title">
        <span>CELEB</span>
      </div>
        <div class="swiper-celeb">
          <div class="swiper-wrapper">
            <% for(i=0;i<itemlist.length;i++){%>
            <div class="celeb swiper-slide">
              <div style="padding:30px;">
              <a href="./store.html#<%=itemlist[i].name%>">
                <img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>" style="width:100%;">
              </a>
              <div><span><%=itemlist[i].name%></span></div>
              </div>
            </div>
            <%}%>
          </div>
          <div class="swiper-pagination" style="position:relative;bottom:0px !important;"></div>
        </div>
        <script>
        var swiper = new Swiper('.swiper-celeb', {
           pagination:".swiper-pagination",
           paginationClickable: true,
           slidesPerView:3,
           slidesPerGroup:3,
           autoplay:5000
        });
        </script>
  </div>



</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "Celeb",
    Data : {
      name : "BestCelebList",
      url : "/yc/api/model.php"
    },
    templateSelector : '#BestCelebPage',
    stateProcessor : function(data){
    },
    targetSelector : ".BestCelebPage",
    afterEvent : function(){
    }
  })

})()
</script>
<script type="text/template" id="BestCelebPage">

<style>
.title{
  font-weight:900;letter-spacing:1px;font-size:12px;
  text-align:center;margin-top:7px;background-color:white;padding-top:30px;padding-bottom:33px;
}
  .celeb{
    display:inline-block;
  }
  .celeb img{
    border-radius: 100%;
  }
  .celeb span{
    font-size:16px;
  }
</style>
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "."%>

    <% for(i=0;i<10;i++){itemlist.push(obj[Math.round((Math.random()*10)/9)]);}%>
    <div class="horizontal" style="background-color:white;">
      <style>
      </style>
      <div class="title">
        <span>BEST CELEB</span>
      </div>
        <div class="swiper-celeb">
          <div class="swiper-wrapper">
            <% for(i=0;i<itemlist.length;i++){%>
            <div class="celeb swiper-slide">
              <div style="padding:30px;">
              <a href="./store.html#<%=itemlist[i].name%>">
                <img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>" style="width:100%;">
              </a>
              <div><span><%=itemlist[i].name%></span></div>
              </div>
            </div>
            <%}%>
          </div>
          <div class="swiper-pagination" style="position:relative;bottom:0px !important;"></div>
        </div>
        <script>
        var swiper = new Swiper('.swiper-celeb', {
           pagination:".swiper-pagination",
           paginationClickable: true,
           slidesPerView:3,
           slidesPerGroup:1,
           autoplay:5000
        });
        </script>
  </div>



</script>

<script>
(function(){
  backcontroller.Component.init({
  Name : "HotCelebPage",
  templateSelector : '#HotCelebPage',
  stateProcessor : function(data){
  },
  targetSelector : ".HotCelebPage",
  afterEvent : function(){
  }})
})()
</script>
<style>
  div.bigimg{
    width:100%;height:200px;
    background-repeat:no-repeat;background-size:contain;background-position:center center;
  }
  div.img.more{
    vertical-align:top;line-height:82px;box-sizing:border-box;width:17%;border:2px solid #252525;display:inline-block;text-align:center;height:76px;padding:0px;margin:0px;margin-top:3px;
  }
  .celebgallery{
    white-space:nowrap;height:82px;
  }
  .celebgallery div.img{
    width:20%;height:82px;
    box-sizing:border-box;max-height:1000px;
    display:inline-block;margin:0px;padding:0px;
    background-repeat:no-repeat;background-size:contain;background-position:center center;
  }
</style>
<script type="text/template" id="HotCelebPage">
  <div class="bigimg" style="background-image:url(./img/celeb/b1.png);">
  </div>
  <div class="celebgallery">
    <div class="img" style="background-image:url(./img/celeb/1.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/2.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/3.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/4.png);"></div>
    <div class="img more">+</div>
  </div>
  <div class="bigimg" style="width:100%;height:200px;background-image:url(./img/celeb/b2.png);">
  </div>
  <div class="celebgallery">
    <div class="img" style="background-image:url(./img/celeb/1.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/2.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/3.png);"></div>
    <div class="img" style="background-image:url(./img/celeb/4.png);"></div>
    <div class="img more">+</div>
  </div>
</script>

<script>
(function(){
  backcontroller.Component.init({
  Name : "AllCelebPage",
  templateSelector : '#AllCelebPage',
  Data : {
    name : "CelebList",
    url : "/yc/api/model.php"
  },
  stateProcessor : function(data){
  },
  targetSelector : ".AllCelebPage",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="AllCelebPage">
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "."%>

    <% for(i=0;i<10;i++){itemlist.push(obj[Math.round((Math.random()*10)/9)]);}%>
    <div class="horizontal" style="background-color:white;">
      <style>
      </style>
      <div class="title">
        <span>All CELEB</span>
      </div>
        <div class="allceleb">
          <div>
            <% for(i=0;i<itemlist.length;i++){%>
            <div class="celeb" style="width:30%;">
              <div style="padding:30px;">
              <a href="./store.html#<%=itemlist[i].name%>">
                <img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>" style="width:100%;">
              </a>
              <div style="text-align:center;padding:5px;white-space:nowrap;test-align:center;">
                <span style="font-size:20px;"><%=itemlist[i].name%></span>
                <div style="margin-left:5px;border-radius:100%;border:2px solid #252525;padding:3px;display:inline-block;">
                  <i class="material-icons addfollow" style="font-size:15px;">add</i>
                  <input type="hidden" value="<%=itemlist[i].name%>"></input>
                </div>
              </div>
              </div>
            </div>
            <%}%>
          </div>
          <div class="swiper-pagination" style="position:relative;bottom:0px !important;"></div>
        </div>
</script>


    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Plugin JavaScript -->
    <!-- Theme JavaScript -->
    <script src="js/frontcontroller.min.js"></script>

</body>
</html>