<?php
include_once('./yc/common.php');
define('_SHOP_', true);
?>
<!DOCTYPE html><html>
<head>

    <meta charset="utf-8">
    <META http-equiv="Pragma" content="no-cache">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Delibe Light</title>

    <!-- Bootstrap Core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Theme CSS -->
    <link href="css/common.min.css" rel="stylesheet">
    <link href="css/font/font.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="http://0sun.net/pub/intop/yc/theme/basic/css/mobile_shop.css?ver=161020">
    <link rel="stylesheet" href="http://0sun.net/pub/intop/yc/mobile/skin/member/delibe/style.css?ver=161020">


    <link rel="stylesheet" href="css/swiper.css"/>

    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="js/underscore.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.min.js"></script>
    <script src="js/swiper.min.js"></script>
    <script src="js/jquery.lazyload.min.js"></script>
    <script src="js/jquery.easing.min.js"></script>
    <script src="js/backcontroller.min.js"></script>

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>
<body>
<?php
if ($is_member){
  echo "<div id='loginsuccess' style='display:none'></div>";
  $member = get_member($_SESSION['ss_mb_id']);
}


?>

<script>
(function(){
  backcontroller.Component.init({
  Name : "Common",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#TopMenu',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".TopMenu",
  afterEvent : function(){
  }})
})()
</script>

<script type="text/template" id="TopMenu">

  <nav class="navbar navbar-default" role="navigation">
      <div class="container">
          <div class="navbar-header">
              <button onclick="openNav()" type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                  <span class="sr-only" >Toggle navigation</span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
                  <span class="icon-bar"></span>
              </button>
              <span class="navbar-brand" href="#" onclick="GoMain()">#B</span>
              <a href="search.html"><button type="button" class="navbar-toggle" style="background:transparent;border:none;margin:0px;margin-right:9px;margin-top:9px;margin-bottom:9px;float:right !important;"><img src="./img/main/zoom.png" style="height:20px;"/></button></a>
              <button type="button" class="navbar-toggle"  style="background:transparent;border:none;margin:0px;margin-top:9px;margin-bottom:9px;float:right !important;"><img src="./img/main/shopping-cart.png" style="height:20px;"/></button>
          </div>
      </div>
  </nav>

</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuTopMenuInfo',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuTopMenuInfo",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuTopMenuInfo">
  <div class="logInfo">
    <div class="group title">
      <span>#B</span>
      <div class="close" onclick="closeNav()"><img src="img\close.png" style="width:100%;height:100%;"></div>
    </div>
    <div class="group content">
      <div>안녕하세요, <span style="color:#0e64f2;">인탑</span>님. </div>
      <div>#B에 오신걸 환영합니다.</div>
    </div>
    <%if(!document.querySelector("#loginsuccess")){%>
      <div class="group button-group">
        <a href="mypage.html"><div class="yellow">마이페이지</div></a>
        <a href="#"><div class="black">위시리스트</div></a>
      </div>
    <%}else{%>

      <div class="group button-group">
        <a href="login.html?device=mobile"><div class="yellow">로그인</div></a>
        <a href="joincheck.html?device=mobile"><div class="black">회원가입</div></a>
      </div>
    <%}%>
  </div>
</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    Data : {
      name : "LeftFollowList",
      url : "http://0sun.net/pub/intop/yc/api/model.php"
    },
    templateSelector : '#LeftMenuFollowList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuFollowList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuFollowList">
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "http://0sun.net/pub/intop"%>
  <div class="submenu">
    <div class="group title">
      <div>Follow<span style="float:right"><img src="img/plus.png"/></span></div>
    </div>
    <div class="group contents">
    <% for(i=0;i<itemlist.length;i++){%>
      <a href="./store.html#<%=itemlist[i].name%>">
      <div class="horizontalElement follow">
        <div class="face"><img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>" style="width:100%;"></div>
        <div class="name"><%=itemlist[i].name%></div>
      </div>
      </a>
    <%}%>

    </div>
  </div>
</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    Data : {
      name : "LeftMenu",
      url : "http://0sun.net/pub/intop/yc/api/category.php"
    },
    templateSelector : '#LeftMenuMenuList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuMenuList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuMenuList">
  <% var categorylist = obj.sort(function(a,b){return (a.ca_id.toString() > b.ca_id.toString() ? 1 : 0 )});%>

  <div class="list">

    <div class="group tab">
      <div>
        <div>Item</div>
      </div>
      <div class="deactive">
        <div>Celeb</div>
      </div>
    </div>
    <ul class="list-mainmenu" style="clear:both;">
      <% for(i=0;i<categorylist.length;i++){%>
      <% var caid=categorylist[i].ca_id %>
      <li>
        <% if(caid.toString().length == 2){%>
        <div><%=categorylist[i].ca_name%></div>
        <ul class="list-submenu">
        <% while(categorylist[i+1] !== undefined && categorylist[i+1].ca_id.toString().length == 4){%>
            <li>- <%=categorylist[i++].ca_name%></li>
        <%}%>
        </ul>
        <%}%>


      </li>
      <% }%>

    </ul>
</div>
</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuLatestList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuLatestList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuLatestList">
  <div class="submenu">
    <div class="group title">
      <div>최근에 본 상품</div>
    </div>
    <div class="group contents">
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
    </div>
  </div>
</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuFooter',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuFooter",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuFooter">
  <div class="footer" style="padding:15px 0px 15px 0px;background-color: #333333;color:#888888;">
    <div class="group title">
    <div style="display:block;text-align:center;">
      <div style="display:inline-block;width:17%;text-align:left;vertical-align:middle;padding:10px 10px 10px 10px;"><img src="img/call.png" style="width:100%"></div>
      <div style="display:inline-block;width:34%;vertical-align:middle;text-align:left;font-size:8px;">
        <div style="font-size:12px;">고객센터</div>
        <div style="font-size:8px;">Weekdays 9:30 ~ 18:00</div>
        <div style="font-size:8px;">Sat,Sun,Holiday OFF</div>
      </div>
      <div style="display:inline-block;text-align:left;width:45%;font-size:24px;vertical-align:middle;white-space:nowrap">
        <span style="margin:5px;text-align:center;">1522-6631</span>
      </div>
    </div>
    </div>
  </div>
</script>

<div id="skipnav"><a href="#maincontent">Skip to main content</a></div>
    <!-- Navigation -->

    <div id="leftMenu"  class="left-menu">
      <div class="LeftMenuTopMenuInfo"></div>
      <div class="LeftMenuFollowList"></div>
      <div class="LeftMenuMenuList"></div>
      <div class="LeftMenuLatestList"></div>
      <div class="LeftMenuFooter"></div>
    </div>


    <div class="wrapper">
      <div id="New">
        <div class="TopMenu"></div>
        <div class="NewSearch"></div>
        <div class="NewItem"></div>
      </div>
      <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
      <div class="scroll-top page-scroll hidden-sm hidden-xs hidden-lg hidden-md">
          <a class="btn btn-primary" href="#page-top">
              <i class="fa fa-chevron-up"></i>
          </a>
      </div>
  </div>

<script>
(function(){
  backcontroller.Component.init({
  Name : "NewSearch",
  templateSelector : '#NewSearch',
  stateProcessor : function(data){
  },
  targetSelector : ".NewSearch",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="NewSearch">
  <div class="subTitle">
    <div class="horizontal" style="background-color:#ffffff">
      <span><a href="new.html">BEST</a></span>
      <span><a href="new.html">NEW</a></span>
      <span>CELLEB</span>
      <span><a href="allitem.html">ITEM</a></span>
      <span><a href="tag.html">#TAG</a></span>
    </div>
  </div>

</script>

<script>
(function(){
  backcontroller.Component.init({
    Name : "NewItem",
    templateSelector : '#NewItem',
    stateProcessor : function(data){
    },
    targetSelector : ".NewItem",
    afterEvent : function(){
    }
  })

  backcontroller.Component.push({
		Name : "NewItem",
		Data : {
			name : "NewItem", // 위에 클래스 이름과 똑같이 정의해준다.
	    params : { "listCols": 2 ,"listType":2}, // 넘겨줄 파라메터.
			url : "http://0sun.net/pub/intop/yc/api/item.php?q=/focus" // JSON으로 보낼 데이터
		},
		templateSelector : '#ProductList', // 템프레이트 경로
		stateProcessor : function(data){
		},
		targetSelector : ".NewItemList", // 템프레이터를 최종 적용할 경로
		afterEvent : function(){
		}
	})
})()
</script>
  <style>
  .NewItemList > .productlist {
    padding-top:19px !important;
  }
  .NewItem .sortArr{
    margin-top: -10px;
    right:22px;
    position: absolute;
    display:inline-block;
  }
  .NewItemList .sortArr{
    display:none;padding-right:22px;
  }
  .NewItem .title{
    font-weight:900;letter-spacing:1px;font-size:12px;
    text-align:center;margin-top:7px;background-color:white;padding-top:30px;padding-bottom:33px;
  }
  .NewItem .category{text-align: center;background-color:white;width:100%;}
  .NewItem .category .inner{text-align: center;width:85%;margin:auto;}
  .NewItem .category .inner div{border-radius: 0px;
    background-color: white;padding:3px 0px 3px;display: inline-block;width:19%;color:#919191;}
  .NewItem .category .inner div:hover,
  .NewItem .category .inner div:focus{border-radius: 3px;background-color: #efefef;padding:3px 0px 3px;color:#252525;}
  </style>
<script type="text/template" id="NewItem">

    <div class="title"><span>NEW ITEMS</span>
      <div class="sortArr">
        <img onclick="transList2(2,'NewItemList')" src="/img/2x2.png" style="width:33px;height:33px;margin:2px;">
        <img onclick="transList2(3,'NewItemList')" src="/img/2x6.png" style="width:33px;height:33px;margin:2px;">
      </div>
    </div>
    <div class="category">
      <div class="inner">
        <div class="active"><span>신상품</span></div>
        <div><span>인기순</span></div>
        <div><span>낮은가격</span></div>
        <div><span>높은가격</span></div>
        <div><span>판매순</span></div>
      </div>
    </div>

  <div class="NewItemList"></div>
</script>
<script>
function transList2(val,sel){
  $("html,body").animate({scrollTop: $("."+sel).offset().top - 10}, 500,function(){
      if(val==2){
        $("."+sel+" .product.type2").attr("class","product type2 col-xs-6");
      }else if(val==3){
        $("."+sel+" .product.type2").attr("class","product type2 col-xs-4");
      }else{
        $("."+sel+" .product.type2").attr("class","product type2");
      }
  });

}

</script>

<script type="text/template" id="ProductList">
<div class="productlist">
<% var itemlist = obj;%>
<% ;var url = location.href.indexOf("localhost") < 0 ? "." : "http://0sun.net/pub/intop"%>
    <div class="itemlist">
      <% for(var i=0;i<itemlist.length;i++){%>
        <% if(window[window.currentListName].listType == 1){%>
          <div class="col-xs-6 product type1">
            <a href="detail.html#<%=itemlist[i].it_id%>"><div style='background-image:url("<%=url%>/yc/data/item/<%=itemlist[i].it_img1%>")' class="main-img"></div></a>
            <div class="model">[<%=itemlist[i].it_model%>]</div>
            <div class="name"><%=itemlist[i].it_name%></div>
            <div class="price"><%=itemlist[i].it_price%></div>
            <div class="heart"><img src="<%=url%>/img/focuson/hearton.png" style="margin-top:3px;width:25px;height:22px;"></div>
          </div>
        <% }else{%>
          <div class="col-xs-6 product type2">
            <a href="./detail.html#<%=itemlist[i].it_id%>"><div style='background-image:url("<%=url%>/yc/data/item/<%=itemlist[i].it_img1%>")' class="main-img"></div></a>
    			  <div class="modelface"><img src="<%=url%>/yc/data/face/<%=itemlist[i].it_model%>/<%=itemlist[i].it_model%>.jpg"></div>
    			  <div class="model"><%=itemlist[i].it_model%></div>
    			  <div class="name"><%=itemlist[i].it_name%></div>
    			  <div style="width:100%">
    			     <div class="price"><%=itemlist[i].it_price%></div>
    			     <div class="heart"><img src="<%=url%>/img/focuson/heartoff.png"></div>
    			  </div>
          </div>
        <%}%>
      <%}%>
    </div>
  <div class="itemlist col-xs-12" style="padding-top:45px;text-align:center;">
    <img src="<%=url%>/img/more.png" style="width:128px;height:35px;">
  </div>
  <div class="itemlist col-xs-12 sortArr" style="padding-top:48px;text-align:center;">
    <img onclick="transList(2,'<%=window["currentListName"]%>',<%=window[window.currentListName].listType%>)" src="<%=url%>/img/2x2.png" style="width:33px;height:33px;margin:2px;">
    <img onclick="transList(3,'<%=window["currentListName"]%>',<%=window[window.currentListName].listType%>)" src="<%=url%>/img/2x6.png" style="width:33px;height:33px;margin:2px;">
  </div>


  <script>
  function slientTransList(val,sel,type){
    if(val==2){
      $("."+sel+" .product.type"+type).attr("class","product type"+type+" col-xs-6");
    }else if(val==3){
      $("."+sel+" .product.type"+type).attr("class","product type"+type+" col-xs-4");
    }else{
      $("."+sel+" .product.type"+type).attr("class","product type"+type);
    }
  }

  function transList(val,sel,type){
    $("html,body").animate({scrollTop: $("."+sel).offset().top - 10}, 500,function(){
        if(val==2){
          $("."+sel+" .product.type"+type).attr("class","product type"+type+" col-xs-6");
        }else if(val==3){
          $("."+sel+" .product.type"+type).attr("class","product type"+type+" col-xs-4");
        }else{
          $("."+sel+" .product.type"+type).attr("class","product type"+type);
        }
    });

  }

  setTimeout(function(){
    try{
      slientTransList(<%=window[window.currentListName].listCols%>,'<%=window["currentListName"]%>',<%=window[window.currentListName].listType%>);
    }catch(e){

    }
  },500);
  </script>


</div>
</script>


    <!-- jQuery -->
    <!-- Bootstrap Core JavaScript -->
    <!-- Plugin JavaScript -->
    <!-- Theme JavaScript -->
    <script src="js/frontcontroller.min.js"></script>

</body>
</html>