<script>
(function(){
  backcontroller.Component.init({
  Name : "MyPage",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#MyPageTopState',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".MyPageTopState",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MyPageTopState">
    <div class="subTitle">마이페이지</div>
    <style>
    .topstate{display:block;background-color: #333333;padding:15px 0px 15px 20px;}
    .topstate .line{display:block;color:white;margin:5px;}
    .topstate .line > span.isvalue {color:blue;color:#6c9cff;}
    </style>
    <div class="topstate">
      <div class="line">
        인탑님 반갑습니다.
      </div>
      <div class="line">
        <span>적립금 : </span> <span class="isvalue">1000원</span>
        <span>예치금 : </span> <span class="isvalue">0원</span>
        <span>쿠폰 : </span> <span class="isvalue">1개</span>
      </div>
    </div>
</script>
