<script>
(function(){
  backcontroller.Component.init({
  Name : "MyPage",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#MyPageTabSelector',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".MyPageTabSelector",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MyPageTabSelector">
<style>

</style>
<div>
  <div class="tabselector">
    <div class="line line">
      <div class="button" data-tab="MyPageTabOrder"><img src="./img/mypage/orderlist.png"/><span>주문내역</span></div>
      <div class="button" data-tab="MyPageTabWishList"><img src="./img/mypage/orderlist.png"/><span>위시리스트</span></div>
      <div class="button" data-tab="MyPageTabMemberModify"><img src="./img/mypage/orderlist.png"/><span>나의정보수정</span></div>
    </div>
    <div class="line">
      <div class="button" data-tab="MyPageTabPoint"><img src="./img/mypage/orderlist.png"/><span>적립금</span></div>
      <div class="button" data-tab="MyPageTabWillPoint"><img src="./img/mypage/orderlist.png"/><span>예치금</span></div>
      <div class="button" data-tab="MyPageTabCoupon"><img src="./img/mypage/orderlist.png"/><span>쿠폰</span></div>
    </div>
  </div>
</div>
<script>
$(".tabselector .button > span,.tabselector .button > img").on("click",function(evt){
  $(".tabselector .button").removeClass("isSelected");

  $(".MyPageTabOrderFilter").addClass("isDeactive");
  $(".MyPageTabOrderList").addClass("isDeactive");
  $(".MyPageTabWishList").addClass("isDeactive");
  $(".MyPageTabMemberModify").addClass("isDeactive");
  $(".MyPageTabPoint").addClass("isDeactive");
  $(".MyPageTabWillPoint").addClass("isDeactive");
  $(".MyPageTabCoupon").addClass("isDeactive");

  $(evt.target).parent().toggleClass("isSelected");
  var datatab = $(evt.target).parent().attr("data-tab");
  if(datatab == "MyPageTabOrder"){
    $("."+datatab+"Filter").removeClass("isDeactive");
    $("."+datatab+"List").removeClass("isDeactive");
  }else{
    $("."+datatab).removeClass("isDeactive");
  }
})
</script>

</script>
