<script>
(function(){
  backcontroller.Component.init({
  Name : "MyPage",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#MyPageTabOrderFilter',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".MyPageTabOrderFilter",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MyPageTabOrderFilter">
<style>
</style>
<div>
  <div class="taborderfliter">
    <div class="line">
      <div class="block isactive"><span>주문내역(3건)</span></div>
      <div class="block "><span>취소/교환/반품내역(0건)</span></div>
    </div>
    <div class="content">
      <div class="contentline">
        <div class="title">기간</div>
        <div class="condition">
          <span class="button">오늘</span>
          <span class="button">1개월</span>
          <span class="button">3개월</span>
          <span class="button">6개월</span>
        </div>
      </div>
      <div class="contentline">
        <div class="title"><span>기간설정</span></div>
        <div class="condition">
          <input class="date" type="input" value="2017-00-00"></input>
            <input class="calenderbutton" type="image" src="./img/mypage/calenderbutton.png"></input>
              <span>~</span>
          <input class="date" type="input" value="2017-00-00"></input>
            <input class="calenderbutton" type="image" src="./img/mypage/calenderbutton.png"></input>
              <span class="button"style="color:white;float:right;margin-top:3px;margin-right:10px;background-color:#333333">조회</span>
        </div>
      </div>
    </div>
</div>
</script>
