<script type="text/template" id="MyPageTabOrderFilter">
<style>
.taborderfliter{display:block;padding:0px;margin:10px 0px 0px 0px;overflow: hidden;}
.taborderfliter .line{width:100%;display:block;padding:0px;text-align: center;overflow: hidden;}
.taborderfliter .block{float:left;height:50px;line-height: 50px;width:50%;background-color: #ffffff;display:inline-block;padding:0px;margin:0px auto;text-align: center;}
.taborderfliter .block.isactive{background-color: #fdd04e;}
.taborderfliter .content{width:100%;}
.taborderfliter .contentline{padding:10px 0px 0px 10px;display: block;}
.taborderfliter .title{width:15%;display: inline-block;}
.taborderfliter .condition{width:83%;display: inline-block;}
.taborderfliter .button{display:inline-block;border: 1px #999999 solid;padding:5px 7px 5px 7px;border-radius: 5px;}
input.date{ width:80px;padding:5px 3px 5px 3px;border-radius: 5px;}
input.calenderbutton{ width:25px; padding:0px;margin:0px; }
</style>
<div>
  <div class="taborderfliter">
    <div class="line">
      <div class="block isactive"><span>주문내역(3건)</span></div>
      <div class="block "><span>취소/교환/반품내역(0건)</span></div>
    </div>
    <div class="content">
      <div class="contentline">
        <div class="title">기간</div>
        <div class="condition">
          <span class="button">오늘</span>
          <span class="button">1개월</span>
          <span class="button">3개월</span>
          <span class="button">6개월</span>
        </div>
      </div>
      <div class="contentline">
        <div class="title"><span>기간설정</span></div>
        <div class="condition">
          <input class="date" type="input" value="2017-00-00"></input>
            <input class="calenderbutton" type="image" src="./img/mypage/calenderbutton.png"></input>
              <span>~</span>
          <input class="date" type="input" value="2017-00-00"></input>
            <input class="calenderbutton" type="image" src="./img/mypage/calenderbutton.png"></input>
              <span class="button"style="color:white;float:right;margin-top:3px;margin-right:10px;background-color:#333333">조회</span>
        </div>
      </div>
    </div>
</div>
</script>
