<script>
(function(){
  backcontroller.Component.init({
  Name : "MyPage",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#MyPageTabWishList',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".MyPageTabWishList",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MyPageTabWishList">
<style>
</style>
<div class="wishlist">
    <div class="taborderfliter">
      <div class="line">
        <div class="block isactive"><span style="font-size:18px;">위시리스트</span></div>
      </div>
    <div class="order">
      <div class="header">
        <div class="line">
          <div style="display:inline-block;width:53%"></div>
          <div style="display:inline-block;width:45%">
            <div class="button">장바구니담기</div>
            <div class="button">삭제</div>
          </div>

        </div>
      </div>
      <div class="contents">
        <div class="content">
          <div class="line">
            <div class="product">
              <span><img src="./img/newitem/MainNewItemProduct.png" style="width:100%;height:100%;padding:15px 20px 15px 20px;"/></span>
            </div>
            <div class="productinfo" style="padding-top:20px;">
              <span style="color:#0961f2;">[style]</span>
              <span style="color:#474747;">셔츠</span>
              <span style="color:#999999;">34,000원</span>
              <span style="color:#999999;">SIZE : S | COLOR : RED | 1개</span>
            </div>
          </div>
          <div class="line" style="border: 1px #cccccc solid;border-left-width:0px;border-right-width:0px;">
            <div style="display:inline-block;width:73%;text-align:left;padding-left:25px;">
              <span style="font-weight:bold">상품합계:34,000원</span>
            </div>
            <div style="display:inline-block;width:25%">
              <div class="button isOrder">주문하기</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>
