<script>
(function(){
  backcontroller.Component.init({
  Name : "MyPage",
//  DataURL : "./admin/json/filter.json",
  templateSelector : '#MyPageTabWishList',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".MyPageTabWishList",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="MyPageTabWishList">
<style>
.wishlist{display:block;background-color: #ffffff;padding:15px 0px 15px 0px;}
.wishlist .line{width:100%;display:block;color:#474747;}
.wishlist .block{height:50px;line-height: 50px;width:100%;background-color: #ffffff;display:inline-block;padding:0px;margin:0px auto;text-align: center;}
.wishlist .block.isactive{background-color: #fdd04e;}
.wishlist .line .product {display:inline-block;width:35%;}
.wishlist .line .productinfo {display:inline-block;width:63%;text-align: left;}
.wishlist .line .productinfo >span {display:block;}
.wishlist .line.isCenter{text-align: center}
.wishlist .header {background-color: #f9f9f9;padding:15px 0px 15px 0px;}
.wishlist .line .button.isState {background-color: #42669f;color:white;}
.wishlist .line .button {display:inline-block;border:1px #a3a3a3 solid;border-radius: 5px; padding:10px;}
.wishlist .line .button.isOrder {display:inline-block;background-color:#ff0000; color:white;border:1px #a3a3a3 solid;border-radius: 5px; padding:5px;margin:10px;}
</style>
<div class="wishlist">
    <div class="taborderfliter">
      <div class="line">
        <div class="block isactive"><span style="font-size:18px;">위시리스트</span></div>
      </div>
    <div class="order">
      <div class="header">
        <div class="line">
          <div style="display:inline-block;width:53%"></div>
          <div style="display:inline-block;width:45%">
            <div class="button">장바구니담기</div>
            <div class="button">삭제</div>
          </div>

        </div>
      </div>
      <div class="contents">
        <div class="content">
          <div class="line">
            <div class="product">
              <span><img src="./img/newitem/MainNewItemProduct.png" style="width:100%;height:100%;padding:15px 20px 15px 20px;"/></span>
            </div>
            <div class="productinfo" style="padding-top:20px;">
              <span style="color:#0961f2;">[style]</span>
              <span style="color:#474747;">셔츠</span>
              <span style="color:#999999;">34,000원</span>
              <span style="color:#999999;">SIZE : S | COLOR : RED | 1개</span>
            </div>
          </div>
          <div class="line" style="border: 1px #cccccc solid;border-left-width:0px;border-right-width:0px;">
            <div style="display:inline-block;width:73%;text-align:left;padding-left:25px;">
              <span style="font-weight:bold">상품합계:34,000원</span>
            </div>
            <div style="display:inline-block;width:25%">
              <div class="button isOrder">주문하기</div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
</script>
