<script>
(function(){
  backcontroller.Component.init({
    Name : "MyPage",
  //  DataURL : "./admin/json/filter.json",
    templateSelector : '#MyPageTabWillPoint',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".MyPageTabWillPoint",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="MyPageTabWillPoint">


  <style>
  </style>
  <div class="willPoint">
    <div class="line isTitle isMainTitle isCenter">
      <span style="font-size:18px;">예치금</span>
    </div>
    <div class="rollMenu">
      <div class="line isTitle isSubTitle isLeft">
        <span>예치금</span>
      </div>
      <div class="content">
        <div class="line">
          <div class="title">총 예치금</div> <div class="value">1,940원</div>
        </div>

        <div class="line">
          <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
        </div>

        <div class="line">
          <div class="title">사용된 예치금</div> <div class="value">0원</div>
        </div>

        <div class="line">
          <div class="title">미가용 예치금</div> <div class="value">0원</div>
        </div>


        <div class="line">
          <div class="title">환불예정 예치금</div> <div class="value">0원</div>
        </div>
      </div>
    </div>

      <div class="rollMenu">
        <div class="line isTitle isSubTitle isLeft">
          <span>적립내역</span>
        </div>
        <div class="content">
          <div class="line">
            <div class="title">총 예치금</div> <div class="value">1,940원</div>
          </div>

          <div class="line">
            <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
          </div>

          <div class="line">
            <div class="title">사용된 예치금</div> <div class="value">0원</div>
          </div>

          <div class="line">
            <div class="title">미가용 예치금</div> <div class="value">0원</div>
          </div>


          <div class="line">
            <div class="title">환불예정 예치금</div> <div class="value">0원</div>
          </div>
        </div>
      </div>

        <div class="rollMenu">
          <div class="line isTitle isSubTitle isLeft">
            <span>미가용 적립내역</span>
          </div>
          <div class="content">
            <div class="line">
              <div class="title">총 예치금</div> <div class="value">1,940원</div>
            </div>

            <div class="line">
              <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
            </div>

            <div class="line">
              <div class="title">사용된 예치금</div> <div class="value">0원</div>
            </div>

            <div class="line">
              <div class="title">미가용 예치금</div> <div class="value">0원</div>
            </div>


            <div class="line">
              <div class="title">환불예정 예치금</div> <div class="value">0원</div>
            </div>
          </div>
        </div>

    <div class="rollMenu">
      <div class="line isTitle isSubTitle isLeft">
        <span>미가용쿠폰/회원등급 적립내역</span>
      </div>
      <div class="content">
        <div class="line">
          <div class="title">총 예치금</div> <div class="value">1,940원</div>
        </div>

        <div class="line">
          <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
        </div>

        <div class="line">
          <div class="title">사용된 예치금</div> <div class="value">0원</div>
        </div>

        <div class="line">
          <div class="title">미가용 예치금</div> <div class="value">0원</div>
        </div>


        <div class="line">
          <div class="title">환불예정 예치금</div> <div class="value">0원</div>
        </div>
      </div>
    </div>




  </div>

    <script>
    $(".willPoint .rollMenu .isTitle").on("click",function(evt){
      $(evt.target).parent().toggleClass("isSelected");
    })
    </script>

</script>
