<script>
(function(){
  backcontroller.Component.init({
    Name : "MyPage",
  //  DataURL : "./admin/json/filter.json",
    templateSelector : '#MyPageTabWillPoint',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".MyPageTabWillPoint",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="MyPageTabWillPoint">


  <style>
  .willPoint{  width:100%;display:block;}
  .willPoint .line{width:100%;display:block;}
  .willPoint .line.isMainTitle{background-color:#fdd04e;color:black;}
  .willPoint .line.isLeft{text-align: left;padding-left:20px;}
  .willPoint .line.isCenter{text-align: center;}
  .willPoint .line.isTitle{height:50px;line-height:50px;}
  .rollMenu .line.isSubTitle{background-color:#f9f9f9;color:black;}
  .rollMenu .content {display:none;}
  .rollMenu .content .line {padding:20px;}
  .rollMenu .content .line > .title{display:inline-block;width:20%;margin-left:20px;word-wrap: normal;word-break: keep-all;}
  .rollMenu .content .line > .value{display:inline-block;width:70%;}
  .rollMenu.isSelected .line.isSubTitle{background-color:#333333;color:white;}
  .rollMenu.isSelected .content{display:block;}
  </style>
  <div class="willPoint">
    <div class="line isTitle isMainTitle isCenter">
      <span style="font-size:18px;">예치금</span>
    </div>
    <div class="rollMenu">
      <div class="line isTitle isSubTitle isLeft">
        <span>예치금</span>
      </div>
      <div class="content">
        <div class="line">
          <div class="title">총 예치금</div> <div class="value">1,940원</div>
        </div>

        <div class="line">
          <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
        </div>

        <div class="line">
          <div class="title">사용된 예치금</div> <div class="value">0원</div>
        </div>

        <div class="line">
          <div class="title">미가용 예치금</div> <div class="value">0원</div>
        </div>


        <div class="line">
          <div class="title">환불예정 예치금</div> <div class="value">0원</div>
        </div>
      </div>
    </div>

      <div class="rollMenu">
        <div class="line isTitle isSubTitle isLeft">
          <span>적립내역</span>
        </div>
        <div class="content">
          <div class="line">
            <div class="title">총 예치금</div> <div class="value">1,940원</div>
          </div>

          <div class="line">
            <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
          </div>

          <div class="line">
            <div class="title">사용된 예치금</div> <div class="value">0원</div>
          </div>

          <div class="line">
            <div class="title">미가용 예치금</div> <div class="value">0원</div>
          </div>


          <div class="line">
            <div class="title">환불예정 예치금</div> <div class="value">0원</div>
          </div>
        </div>
      </div>

        <div class="rollMenu">
          <div class="line isTitle isSubTitle isLeft">
            <span>미가용 적립내역</span>
          </div>
          <div class="content">
            <div class="line">
              <div class="title">총 예치금</div> <div class="value">1,940원</div>
            </div>

            <div class="line">
              <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
            </div>

            <div class="line">
              <div class="title">사용된 예치금</div> <div class="value">0원</div>
            </div>

            <div class="line">
              <div class="title">미가용 예치금</div> <div class="value">0원</div>
            </div>


            <div class="line">
              <div class="title">환불예정 예치금</div> <div class="value">0원</div>
            </div>
          </div>
        </div>

    <div class="rollMenu">
      <div class="line isTitle isSubTitle isLeft">
        <span>미가용쿠폰/회원등급 적립내역</span>
      </div>
      <div class="content">
        <div class="line">
          <div class="title">총 예치금</div> <div class="value">1,940원</div>
        </div>

        <div class="line">
          <div class="title">사용가능 예치금</div> <div class="value">1,000원</div>
        </div>

        <div class="line">
          <div class="title">사용된 예치금</div> <div class="value">0원</div>
        </div>

        <div class="line">
          <div class="title">미가용 예치금</div> <div class="value">0원</div>
        </div>


        <div class="line">
          <div class="title">환불예정 예치금</div> <div class="value">0원</div>
        </div>
      </div>
    </div>




  </div>

    <script>
    $(".willPoint .rollMenu .isTitle").on("click",function(evt){
      $(evt.target).parent().toggleClass("isSelected");
    })
    </script>

</script>
