<script type="text/template" id="MyPageTabCoupon">

<style>
.coupon{  width:100%;display:block;}
.coupon .line{width:100%;display:block;}
.coupon .line.isMainTitle{background-color:#fdd04e;color:black;}
.coupon .line.isSubTitle{background-color:#333333;color:white;}
.coupon .line.isLeft{text-align: left;padding-left:20px;}
.coupon .line.isCenter{text-align: center;}
.coupon .line.isTitle{height:50px;line-height:50px;}
.coupon .line.isBlock{padding:0px;}
.coupon .line.isDescription{color:gray;padding:20px;}
.coupon .line > .title{display:inline-block;width:20%;word-wrap: normal;word-break: keep-all;}
.coupon .line > .value{display:inline-block;width:70%;}
.rollMenu .line.isSubTitle{background-color:#f9f9f9;color:black;}
.rollMenu .content {display:none;}
.rollMenu .content .line {padding:20px;}
.rollMenu.isSelected .line.isSubTitle{background-color:#333333;color:white;}
.rollMenu.isSelected .content{display:block;}
input.coupon {width:50%;padding:5px 3px 5px 3px;display: inline-block;margin-left:20px;}
span.button{border:1px black solid;border-radius: 5px;padding:5px;margin-left: 15px;font-size: 12px;background-color: black;color:white;}

</style>
<div class="coupon">
<div class="line isTitle isMainTitle isCenter">
  <span style="font-size:18px;">쿠폰</span>
</div>

<div class="line isBlock isDescription isLeft" style="overflow:hidden;">
  <div style="padding:0px;margin:0px;display:block;overflow:hidden;"><span>- 쿠폰 사용 유의사항 </span></div>
  <div style="padding:0px;margin:0px;display:block;overflow:hidden;"><span>(1) 쿠폰은 상품 구매시 결제페이지에서 적용가능합니다.</span></div>
  <div style="padding:0px;margin:0px;display:block;overflow:hidden;"><span>(2) 쿠폰마다 사용가능 금액과 기한이 정해져 있으며, 1개 주문서에 1개의 쿠폰만 사용하실 수 있습니다.</span></div>
  <div style="padding:0px;margin:0px;display:block;overflow:hidden;"><span>(3) 쿠폰을 사용하여 주문후 반품/환불/취소의 경우 한번 사용하신 쿠폰을 다시 사용하실 수 없습니다.</span></div>
</div>

<div class="line isTitle isLeft">
  <span>인증번호등록하기</span>
</div>

<div class="line isBlock isLeft">
  <span><input class="coupon" type="text"/><span class="button">쿠폰번호인증</span></span>
</div>
<div class="line isBlock isDescription isLeft">
  <span>"일련번호" "."을 제외하고 쇼핑몰에서 제공한 쿠폰을 입력해주십시오.</span>
</div>

<div class="line isTitle isSubTitle isLeft">
  <span>마이쿠폰 목록(총 3장)</span>
</div>

<div class="rollMenu">
  <div class="line isTitle isSubTitle isLeft">
    <div class="line">
      <div class="title">쿠폰명</div> <div class="value">좋은 쿠폰</div>
    </div>
  </div>
  <div class="content">
    <div class="line">
      <div class="title">총 적립금</div> <div class="value">1,940원</div>
    </div>

    <div class="line">
      <div class="title">사용가능 적립금</div> <div class="value">1,000원</div>
    </div>

    <div class="line">
      <div class="title">사용된 적립금</div> <div class="value">0원</div>
    </div>

    <div class="line">
      <div class="title">미가용 적립금</div> <div class="value">0원</div>
    </div>


    <div class="line">
      <div class="title">환불예정 적립금</div> <div class="value">0원</div>
    </div>
  </div>
</div>


</div>



<script>
$(".coupon .rollMenu .isTitle > div > div").on("click",function(evt){
  $(evt.target).parent().parent().parent().toggleClass("isSelected");
})
</script>

</script>
