<style>
  .common.line {color:#474747;padding:10px 20px 10px 20px;white-space: nowrap;overflow:hidden;width:100%;}
  .common.yellowheader {background-color:#fed664;}
  .common.line .name2 {display:inline-block;float:left;}
  .common.line .value2 {display:inline-block;float:right;}

  .line {width:100%;display: block;white-space: nowrap;}
  .line.grayheader{margin:10px 0px 10px 0px;background-color:#f8f8f8;padding:10px 0px 10px 20px;font-size:11px;color:#292929;}
  .name {display:inline-block;width:30%;vertical-align: middle;}
  .value {display:inline-block;width:70%;}
  .value input{
    border-radius: 5px;
  }
  .value input[type=text]{
    width:80%;
  }
  .value input[type=email]{
    width:80%;
  }
  .value button{
    border-radius: 5px;

  }
  .value.captcha{
    white-space:normal;
    word-break: break-all;
  }
  .name.big{
    vertical-align: top;
  }
  .name.big.address{
    height: 90px;
    line-height: 90px;
  }.name.big.autoregban{
    height: 95px;
    line-height: 95px;
  }
  .button{
    background-color: #333 !important;color:white !important;
    display:inline-block;border:1px #a3a3a3 solid;border-radius: 5px; padding:5px !important;font-size:5px;
  }
  .value.captcha button{
    background-color: #333 !important;color:white !important;
    height:auto !important;
    display:inline-block;border:1px #a3a3a3 solid;border-radius: 5px; padding:5px !important;font-size:5px;
  }
  #captcha_key{
    width:70% !important;
  }
  .list{display:block;background-color: #ffffff;padding:15px 0px 15px 0px;}
  .list .line{color:#474747;margin:5px;white-space: nowrap;}
  .list .line .product {display:inline-block;}
  .list .line .productinfo {display:inline-block;width:63%;}
  .list .line .productinfo >span {display:block;}
  .list .line.isCenter{text-align: center}
  .list .header {background-color: #f9f9f9;padding:5px 0px 9px 0px;}
  .list .line .button.isOrder {background-color: red;color:white;border:0px;}
  .list .line .button {display:inline-block;border:1px #a3a3a3 solid;border-radius: 5px; padding:10px;}
  .list .line .button {background-color: white;font-size:5px;white-space:nowrap;padding:5px;width:auto;}
  .button {display:inline-block;border:1px #a3a3a3 solid;border-radius: 5px; padding:5px;font-size:5px;}
  #daum_juso_pagemb_zip{
    position: absolute !important;
    z-index: 9999999;
  }
  .line{margin:5px 20px 5px 20px;}
  .value *{
    margin-top:5px;
    margin-bottom:5px;
  }
</style>
