<style>
.common.line {color:#474747;padding:10px 20px 10px 20px;white-space: nowrap;overflow:hidden;width:100%;}
.common.yellowheader {background-color:#fed664;}
.common.line .name2 {display:inline-block;float:left;}
.common.line .value2 {display:inline-block;float:right;}

.line {width:100%;display: block;white-space: nowrap;margin-bottom:10px;}
.line.grayheader{margin:10px 0px 10px 0px;background-color:#f8f8f8;padding:10px 0px 10px 20px;font-size:11px;color:#292929;}
.name {display:inline-block;width:10%;vertical-align: middle;}
.value {display:inline-block;width:90%;}

.value input, .value button{
  border-radius: 5px;
  background-color: white !important;
}

.LoginFrame{
  background-color: white;
}
.mbskin{
  padding-top:20px;
  margin:0 auto;
  width:80%;
  background-color: white;
}
.value input[type="text"],.value input[type="password"]{
  width:100%;
}
#mb_login input[type="submit"]{
  background-color:#fed664 !important;
  color:#252525;
  padding:10px 50px 10px 50px !important;
  width:100%;
}
.btn01{
  width:100%;
  border: 0px !important;
  background-color: black !important;
  color:white !important;
  padding:10px 50px 10px 50px !important;
  text-align: center;
}
.findidpass{
  width:100%;
  text-align: center;
  border: 0px !important;
  background-color: transparent !important;
  color:#777 !important;
}
</style>
