<script>
(function(){
  backcontroller.Component.init({
  Name : "SearchSubTopMenu",
  templateSelector : '#SearchSubTopMenu',
  stateProcessor : function(data){
  },
  targetSelector : ".SearchSubTopMenu",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="SearchSubTopMenu">
  <div class="subTitle">
    <div class="horizontal" style="background-color:#ffffff">
      <span><a href="new.html">BEST</a></span>
      <span><a href="new.html">NEW</a></span>
      <span>CELLEB</span>
      <span><a href="allitem.html">ITEM</a></span>
      <span><a href="tag.html">#TAG</a></span>
    </div>
  </div>

</script>
