<script>
(function(){
  backcontroller.Component.init({
  Name : "HotCelebPage",
  templateSelector : '#HotCelebPage',
  stateProcessor : function(data){
  },
  targetSelector : ".HotCelebPage",
  afterEvent : function(){
  }})
})()
</script>
<style>
  div.img{
    height: auto;box-sizing:border-box;max-height:1000px;
    display:inline-block;margin:0px;padding:0px;
    background-repeat:no-repeat;background-size:contain;background-position:center center;
  }
</style>
<script type="text/template" id="HotCelebPage">
  <div class="img" style="width:100%;height:200px;background-image:url(./img/celeb/b1.png);">
  </div>
  <div style="white-space:nowrap;height:82px;">
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/1.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/2.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/3.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/4.png);"></div>
    <div style="vertical-align:top;line-height:82px;box-sizing:border-box;width:17%;border:2px solid #252525;display:inline-block;text-align:center;height:76px;padding:0px;margin:0px;margin-top:3px;">+</div>
  </div>
  <div class="img" style="width:100%;height:200px;background-image:url(./img/celeb/b2.png);">
  </div>
  <div style="white-space:nowrap;height:82px;">
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/1.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/2.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/3.png);"></div>
    <div class="img" style="width:20%;height:82px;background-image:url(./img/celeb/4.png);"></div>
    <div style="vertical-align:top;line-height:82px;box-sizing:border-box;width:17%;border:2px solid #252525;display:inline-block;text-align:center;height:76px;padding:0px;margin:0px;margin-top:3px;">+</div>
  </div>
</script>
