<style>
.NewItemList > .productlist {padding-top:19px !important;}
.NewItem .sortArr{margin-top: -10px;right:22px;position: absolute;display:inline-block;}
.NewItemList .sortArr{display:none;padding-right:22px;}
.NewItem .title{font-weight:900;letter-spacing:1px;font-size:12px;text-align:center;margin-top:7px;background-color:white;padding-top:30px;padding-bottom:33px;}
.NewItem .category{text-align: center;background-color:white;width:100%;}
.NewItem .category .inner{text-align: center;width:85%;margin:auto;}
.NewItem .category .inner div{border-radius: 0px;background-color: white;padding:3px 0px 3px;display: inline-block;width:19%;color:#919191;}
.NewItem .category .inner div:hover,
.NewItem .category .inner div:focus{border-radius: 3px;background-color: #efefef;padding:3px 0px 3px;color:#252525;}
</style>
