<script data-bc="action">
(function(){
  backcontroller.Component.init({
  Name : "DetailSlider",
  Data : {
    name : "DetailSliderData",
    url : "/yc/api/item.php?q=/"+location.href.split("?")[1].replace("it_id=","")
    //+location.href.split("#")[1]
  },
  stateProcessor : function(data){
  },
  templateSelector : '#DetailSlider',
  targetSelector : ".DetailSlider",
  afterEvent : function(){

  }})



})()
</script>
<script type="text/template" id="DetailSlider" data-bc="template" data-bc="template">
  <% var detailItem = obj;%>

  <div class="subTitle"><%=detailItem[0].it_model%></div>
  <div class="swiper-container col-xs-12" style="padding:0px;margin:0px;">
    <div class="swiper-wrapper">
    <% if(detailItem[0].it_img1 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img1%>');"></div></div><%}%>
    <% if(detailItem[0].it_img2 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img2%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img3 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img3%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img4 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img4%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img5 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img5%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img6 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img6%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img7 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img7%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img8 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img8%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img9 !== ""){ %> <div class="swiper-slide"><div class="slider-img" style="background-image:url('./yc/data/item/<%=detailItem[0].it_img9%>');)"></div></div><%}%>
    <% if(detailItem[0].it_img10 !== ""){ %> <div class="swiper-slide"><di class="slider-img"v style="background-image:url('./yc/data/item/<%=detailItem[0].it_img10%>');)"></div></div><%}%>
    <div class="swiper-slide"><video src="http://techslides.com/demos/sample-videos/small.mp4"  playsinline controls class="slider-video" poster="./yc/data/item/<%=detailItem[0].it_img1%>"></video></div>

    </div>

    <div class="swiper-pagination"></div>
  </div>
  <script>

  var swiper = new Swiper('.swiper-container', {
     pagination: '.swiper-pagination',
     paginationClickable: true,
     autoplay:5000
  });
  </script>

</script>
