<script type="text/template" id="DetailSlider">
  <% var detailItem = obj;%>
  <div class="swiper-container col-xs-12" style="padding:0px;margin:0px;">
    <div class="swiper-wrapper">
    <% if(detailItem[0].it_img1 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img1%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img2 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img2%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img3 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img3%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img4 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img4%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img5 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img5%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img6 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img6%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img7 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img7%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img8 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img8%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img9 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img9%>" style="width:100%;"></div><%}%>
    <% if(detailItem[0].it_img10 !== ""){ %> <div class="swiper-slide"><img src="./yc/data/item/<%=detailItem[0].it_img10%>" style="width:100%;"></div><%}%>
    </div>

    <div class="swiper-pagination"></div>
  </div>

  <script>
  var swiper = new Swiper('.swiper-container', {
     pagination: '.swiper-pagination',
     paginationClickable: true,
     autoplay:5000
  });
  </script>
</script>
