<script>
(function(){
  backcontroller.Component.init({
  Name : "Detail",
  Data : {
    name : "Detail",
    url : "http://0sun.net/pub/intop/yc/api/item.php?q=/"+location.href.split("#")[1]
  },
  templateSelector : '#DetailPriceInfo',
  stateProcessor : function(data){
  },
  targetSelector : ".DetailPriceInfo",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="DetailPriceInfo">
  <% var detailItem = obj;%>
  <div class="col-xs-12" style="padding:20px 0px 10px 0px;">
    <div class="col-xs-2">
      <div style="text-align:left">제품명</div>
      <div style="text-align:left;">가격</div>
    </div>
    <div class="col-xs-8">
      <div style="text-align:left;color:#bbbbbb"><%=detailItem[0].it_name%></div>
      <div style="text-align:left;color:#bbbbbb"><%=detailItem[0].it_price%></div>
    </div>
  </div>
</script>
