<script data-bc="action">
(function(){
  backcontroller.Component.init({
  Name : "DetailContents",
  Data : {
    name : "DetailContentsData",
    url : "/yc/api/item.php?q=/"+location.href.split("?")[1].replace("it_id=","")
  },
  DataURL : "./admin/json/filter.json",
  templateSelector : '#DetailContents',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".DetailContents",
  afterEvent : function(){

  }})

  backcontroller.Component.push({
  	Name : "DetailUse",
  	Data : {
  		name : "DetailUseData",
      params : { "type": "use"},
      url : "/yc/api/item.php?q=/use/"+location.href.split("?")[1].replace("it_id=","")
  	},
  	templateSelector : '#BoardList',
  	stateProcessor : function(data){
  	},
  	targetSelector : ".DetailUseBoard",
  	afterEvent : function(){
  	}
  })

  backcontroller.Component.push({
    Name : "DetailQna",
    Data : {
      name : "DetailQnaData",
      params : { "type": "qna"},
      url : "/yc/api/item.php?q=/qna/"+location.href.split("?")[1].replace("it_id=","")
    },
    templateSelector : '#BoardList',
    stateProcessor : function(data){
    },
    targetSelector : ".DetailQnaBoard",
    afterEvent : function(){
    }
  })

})()
</script>
<script type="text/template" id="DetailContents" data-bc="template">
  <%var itemlist = obj;%>
  <%console.log(obj);window.itemlist = obj;%>
  <div class="filterMenu">
    <div class="menu menu-up col-xs-12" style="border-top:2px #e4e4e4 solid">
        <div class="col-xs-3">
          <span onclick="showDetail('.productdetail')">디테일</span>
        </div>
        <div class="col-xs-3">
          <span onclick="showDetail('.productinfo')">상품정보</span>
        </div>
        <div class="col-xs-3">
          <span onclick="showDetail('.productafter')">상품후기</span>
        </div>
        <div class="col-xs-3">
          <span onclick="showDetail('.productqna')">상품문의</span>
        </div>
    </div>
  </div>


  <!--- 임시데이터 ---->
  <div class="productdetail contentt col-xs-12" style="margin-top:20px;margin-bottom:20px;">
    <%=itemlist[0].it_basic%>
  </div>
  <div class="productinfo contentt col-xs-12" style="margin-left:0px;margin-right:0px;margin-top:20px;margin-bottom:20px;">

    <%
      var iteminfo = itemlist[0].it_info_value;
    %>

    <% if(iteminfo.material){%>
    <div> 소재 : <%=iteminfo.material%> </div>
    <%}%>
    <% if(iteminfo.color){%>
    <div> 색상 : <%=iteminfo.color%> </div>
    <%}%>
    <% if(iteminfo.size){%>
    <div> 사이즈 : <%=iteminfo.size%> </div>
    <%}%>
    <div class="tablec" style="display:inline-block;width:100%;">
      <div>
        <div class="col-xs-3">사이즈</div>
        <div class="col-xs-3">S</div>
        <div class="col-xs-3">M</div>
        <div class="col-xs-3">L</div>
      </div>

      <div>
        <div class="col-xs-3">허리단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>


      <div>
        <div class="col-xs-3">힙단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>


      <div>
        <div class="col-xs-3">밑위단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>

      <div>
        <div class="col-xs-3">허벅지단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>

      <div>
        <div class="col-xs-3">총장</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>
    </div>
      <div style="padding-top:10px;">신축성 : 있음 </div>
      <div>계절감 : 여름 </div>
      <div>안감 : 없음 </div>
      <div>세탁방법 : 소재에 맞는 드라이크리닝 권장 </div>

      <% if(iteminfo.maker){%>
      <div> 제조국 : <%=iteminfo.maker%> </div>
      <%}%>

      <div style="color:#cccccc;padding:0px;margin-top:20px;margin-bottom:20px;font-size:15px;line-height:10px;">
      　<% if(iteminfo.description){%>
        <div> <%=iteminfo.description%> </div>
        <%}%>
      </div>
      <div style="background-color:#f8f8f8;margin:20px -20px 20px -20px;padding:10px 10px 10px 10px;font-size:13px;color:#292929;">신축성</div>
      <style>
      input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        color: black !important;
        font-size: 10px !important;
        height: 50px;
        width: 50px;
        border-radius: 100%;
        background: transparent;
        cursor: pointer;
        margin-top: -25px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
        }
        input[type=range]::-webkit-slider-thumb::before { content: "4" !important; color: black !important; }
        input[type=range][value="1"]::-webkit-slider-thumb { background-repeat: no-repeat;background-size: contain;background-position: center center;background-image: url("./img/test.png"); content: "1"; color: black; }
        input[type=range][value="2"]::-webkit-slider-thumb { background-repeat: no-repeat;background-size: contain;background-position: center center;background-image: url("./img/test.png"); content: "1"; color: black; }
        input[type=range][value="3"]::-webkit-slider-thumb { background-repeat: no-repeat;background-size: contain;background-position: center center;background-image: url("./img/test.png"); content: "1"; color: black; }
        input[type=range][value="4"]::-webkit-slider-thumb { background-repeat: no-repeat;background-size: contain;background-position: center center;background-image: url("./img/test.png"); content: "1"; color: black; }
        input[type=range][value="5"]::-webkit-slider-thumb { background-repeat: no-repeat;background-size: contain;background-position: center center;background-image: url("./img/test.png"); content: "1"; color: black; }
      </style>
      <form action="#">
          <p class="range-field">
            <input type="range" min="1" max="5" value="4" onchange="this.setAttribute('value', this.value);" />
            <span style="float:left">낮음</span>
            <span style="float:right">높음</span>
            </p>
        </form>
        <div style="background-color:#f8f8f8;margin:20px -20px 20px -20px;padding:10px 10px 10px 10px;font-size:13px;color:#292929;">세탁방법</div>
        <div style="width:100%;white-space:nowrap">
          <div class="st" style="background-image:url('./img/stb/bb.png')"></div>
          <div class="st" style="background-image:url('./img/stb/dc.png')"></div>
          <div class="st" style="background-image:url('./img/stb/sp.png')"></div>
          <div class="st" style="background-image:url('./img/stb/wp.png')"></div>
        </div>

  </div>
  <div class="productafter contentt col-xs-12" style="margin-top:20px;margin-bottom:20px;">
    <div class="DetailUseBoard"></div>
  </div>
  <div class="productqna contentt col-xs-12" style="margin-top:20px;margin-bottom:20px;">
    <div class="DetailQnaBoard"></div>
  </div>

  <script>
  setTimeout(function(){
    showDetail('.productdetail');
    $("input[type=range]::-webkit-slider-thumb").append("Intop");
  },100)
  </script>
</script>
