<script>
(function(){
  backcontroller.Component.init({
  Name : "Detail",
  DataURL : "./admin/json/filter.json",
  templateSelector : '#DetailBottomMenu',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".DetailBottomMenu",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="DetailBottomMenu">
      <div class="filterMenu">
        <div class="menu menu-up col-xs-12">
            <div class="col-xs-6">
              <span>함께 코디한 상품</span>
            </div>
            <div class="col-xs-6">
              <span>당신을 위한 추천상품</span>
            </div>
        </div>
      </div>
</script>
