<script>
(function(){
  backcontroller.Component.init({
  Name : "Detail",
  DataURL : "./admin/json/filter.json",
  templateSelector : '#DetailContents',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".DetailContents",
  afterEvent : function(){
  }})
})()
</script>
<script type="text/template" id="DetailContents">

  <div class="filterMenu">
    <div class="menu menu-up col-xs-12" style="border-top:2px #e4e4e4 solid">
        <div class="col-xs-3">
          <span>디테일</span>
        </div>
        <div class="col-xs-3">
          <span>상품정보</span>
        </div>
        <div class="col-xs-3">
          <span>상품후기</span>
        </div>
        <div class="col-xs-3">
          <span>상품문의</span>
        </div>
    </div>
  </div>


  <!--- 임시데이터 ---->
  <style>
    .contentt > div{
      margin:5px 0px 5px 0px;
    }


      .contentt .tablec > div{
        margin:10px 0px 10px 0px;
        clear:both;
      }
      .tablec > div > div {
        border:1px #eeeeee solid;
        padding:10px;
        text-align:center;
      }
      .tablec > div > div:first-child{
        background-color: #eeeeee;
      }
  </style>

  <div class="contentt col-xs-12" style="margin-top:20px;margin-bottom:20px;">
    <div>소재 : 레이온 100% </div>
    <div>색상 : 아이보리,블랙 </div>
    <div>사이즈 : S,M,L </div>

    <div class="tablec" style="display:inline-block;width:100%;">
      <div>
        <div class="col-xs-3">사이즈</div>
        <div class="col-xs-3">S</div>
        <div class="col-xs-3">M</div>
        <div class="col-xs-3">L</div>
      </div>

      <div>
        <div class="col-xs-3">허리단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>


      <div>
        <div class="col-xs-3">힙단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>


      <div>
        <div class="col-xs-3">밑위단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>

      <div>
        <div class="col-xs-3">허벅지단면</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>

      <div>
        <div class="col-xs-3">총장</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
        <div class="col-xs-3">32</div>
      </div>
    </div>
      <div style="padding-top:10px;">신축성 : 있음 </div>
      <div>계절감 : 여름 </div>
      <div>안감 : 없음 </div>
      <div>세탁방법 : 소재에 맞는 드라이크리닝 권장 </div>
      <div>제조국 : 대한민국 </div>

      <div style="color:#cccccc;padding:0px;margin-top:20px;margin-bottom:20px;font-size:15px;line-height:10px;">
      　<div>- 위의 실측사이즈는 '단면의 길이'입니다.</div>
      　<div>- 사이즈는 측정방법에 따라 1~3cm 정도 오차가 있을 수 있습니다.</div>
      　<div>- 모니터 해상도에 따라 제품 실제 색상과 다소 차이가 있을 수 있습니다.</div>
      　<div> - 제품컷의 색상이 실제 제품 색상과 가장 비슷합니다.</div>
      　<div>- 품질보증기준 : 소비자 분쟁해결</div>
      　<div> - A/S 책임자 : 럭키페이스 (1522-1631)</div>
      </div>

  </div>

</script>
