<script data-bc="action">
(function(){
  backcontroller.Component.init({
  Name : "DetailBottomItems",
  templateSelector : '#DetailBottomItems',
  stateProcessor : function(data){
    //backcontroller.state.FilterList.setList(data);
  },
  targetSelector : ".DetailBottomItems",
  afterEvent : function(){
  }})


  backcontroller.Component.push({
  	Name : "Detail",
  	Data : {
  		name : "DetailBottomItems",
      params : { "listCols": 3 ,"listType":2},
      url : "/yc/api/item.php?q=/"+location.href.split("?")[1].replace("it_id=","")+"/with"
  	},
  	templateSelector : '#ProductList',
  	stateProcessor : function(data){
  	},
  	targetSelector : ".DetailBottomItemsOnList",
  	afterEvent : function(){
  	}
  	})


})()

</script>
<script type="text/template" id="DetailBottomItems" data-bc="template">

  	<div class="DetailBottomItemsOnList" style="clear:both;padding-bottom:45px;">
  	</div>

</script>
