<script type="text/template" id="StoreSubInfo">
  <div class="subTitle">chuu_official</div>
  <div id="subMan">
    <div class="subInfo">
      <div style="display:inline;height:inherit">
        <div class="pic">
        <img src="img\subinfo\subInfoMockup.png" style="width:100px;">
        </div>
      </div>
      <div style="display:inline">
        <div class="info">
          <div style="font-size:15px;font-weight:bold;color:#555555">츄</div>
          <div style="font-size:15px;font-weight:500;color:#999999">#큐티 #러블리</div>
        </div>
      </div>

        <div class="right">
          <div class="info">
            <div class="followbutton" onclick="">
              +팔로우
            </div>
          </div>
        </div>
    </div>
  </div>
</script>
