<!---
Itemlist 관련
--->
<script type="text/template" id="StoreItemList">
<% var itemlist = obj;%>
<% for(var i=0;i<itemlist.length;i++){%>
<% if((i%3) == 0){%>
  <div class="col-xs-12" style="padding:0;margin:0">
<% } %>
    <div onclick="GoDetail()" class="col-xs-4" style="width:33.33333333%;height:33.33333333%;padding:0px;margin:0px;"><img src="<%=itemlist[i].image%>" class="responsive" style="width:100%;height:100%;"/></div>
<% if((i%3) == 2 || (i%3) == itemlist.length){%>
</div>
<% } %>
<%}%>


</script>
