<script>
(function(){
	backcontroller.Component.init({
		Name : "Main",
		templateSelector : '#MainCategory',
		stateProcessor : function(data){
		},
		targetSelector : ".MainCategory",
		afterEvent : function(){
		}
	})
})()
</script>

<script type="text/template" id="MainCategory">

  <div class="bartitle" style="width:100%;margin:0 auto;text-align:center;">
    <div class="title">CATEGORY</div>
  </div>
  <div class="swiper-container blackgray-pagination" style="background-color:#ffffff;overflow:hidden;">
		<div class="swiper-wrapper">
		<div class="col-xs-12 swiper-slide" style="margin:0px;padding:0px;">
      <div class="col-xs-6">
        <img src="./img/category/MainCategory1.png" style="width:100%;">
      </div>
      <div class="col-xs-6">
        <img src="./img/category/MainCategory2.png" style="width:100%;">
      </div>
    </div>
		<div class="col-xs-12 swiper-slide" style="margin:0px;padding:0px;">
			<div class="col-xs-6">
				<img src="./img/category/MainCategory1.png" style="width:100%;">
			</div>
			<div class="col-xs-6">
				<img src="./img/category/MainCategory2.png" style="width:100%;">
			</div>
		</div>
	</div>
		<div class="mmls-pagination" style="text-align:center;">
		</div>
	</div>

</script>
