<script type="text/template" id="MainInstagram">

<style>
.bartitle{
	background-image:url("./img/main/bg.png");
	height:10px;
}

.bartitle .title{
  display: inline-block;
  margin-top:-6px;
  width:150px;
  background: white;
  font-size:20px;
}
</style>
<div class="focuson" style="margin-top:20px;padding-top:20px;margin-bottom:50px;overflow:hidden;">
  <div class="bartitle" style="width:100%;margin:0 auto;text-align:center;">
    <div class="title">INSTAGRAM</div>
  </div>
	  <div class="itemlist" style="padding-top:50px;">
			<div style="background-color:#f0e1c3;overflow:hidden;padding:20 0 20 0px;">
			<div class="col-xs-12">
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
			</div>
			<div class="col-xs-12" style="margin-top:10px;">
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
				<div class="col-xs-4" style="padding:0 10 0 0px;">
					<img src="./img/instagram/MainInstagram1.png" style="width:100%;">
				</div>
			</div>
			</div>
	  </div>
</div>

</script>
