<script>
(function(){

  var purl;
  if($("#loginsuccess").length > 0){
    purl = "/yc/api/model.php?m=get&q=/follow/"+$("#loginsuccess").text();
  }else{
    purl = "/yc/api/model.php";
  }

  backcontroller.Component.init({
    Name : "Main",
    Data : {
      name : "FollowList",
      url : purl
    },
    templateSelector : '#MainTopFollowList',
    stateProcessor : function(data){
    },
    targetSelector : ".MainTopFollowList",
    afterEvent : function(){
    }
  })
})()
</script>

<script type="text/template" id="MainTopFollowList">



  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "."%>

    <div class="horizontal">
      <style>
      </style>
      <% for(i=0;i<itemlist.length;i++){%>
      <div class="MainTopFollow">
        <a href="./store.html#<%=itemlist[i].name%>">
        <img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>">
        </a>
        <div><span><%=itemlist[i].name%></span></div>
      </div>
      <%}%>
  </div>

</script>
