<script type="text/template" id="MainTopFollowList">
  <% var itemlist = obj;%>
  <% var url = location.href.indexOf("localhost") < 0 ? "." : "http://0sun.net/pub/intop"%>

  <div style="
    color:black;
    font-size:18px;
    font-weight:bold;
    height:120px;
    width:100%;
    background-color:#ffffff;
    margin-top: 15px;
    text-align: center;">
    <div class="horizontal">
      <style>
      .MainTopFollow{
        display:inline-block;
      }
      .MainTopFollow > a >img{
        text-align: center;
        width:70px;
        display:inline-block;
        margin-top:15px;
        border-radius:50%;
      }
      .MainTopFollow > div{
        display:block;
        font-size:13px;
        height:16px;
        margin-top:5px;
        margin-right:15px;
        margin-left:15px;
      }
      </style>
      <% for(i=0;i<itemlist.length;i++){%>
      <div class="MainTopFollow">
        <a href="./store.html#<%=itemlist[i].name%>">
        <img src="<%=url%>/yc/data/face/<%=itemlist[i].face%>">
        </a>
        <div><span><%=itemlist[i].name%></span></div>
      </div>
      <%}%>
  </div>

</script>
