<script type="text/template" id="MainTopFollowList">


  <div style="
    color:black;
    font-size:18px;
    font-weight:bold;
    height:120px;
    width:100%;
    background-color:#ffffff;
    margin-top: 15px;
    text-align: center;">
    <div class="horizontal">
      <style>
      .MainTopFollow{
        display:inline-block;
      }
      .MainTopFollow img{
        text-align: center;
        width:70px;
        display:inline-block;
        margin-top:15px;
      }
      .MainTopFollow > div{
        display:block;
        font-size:13px;
        height:16px;
        margin-top:5px;
        margin-right:15px;
        margin-left:15px;
      }
      </style>
      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>anong</span></div>
      </div>

      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>

      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>

      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>

      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>


      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>


      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>


      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>


      <div class="MainTopFollow" onclick="GoStore();">
        <img src="./img/main/ud1nong.png">
        <div><span>ud1nong</span></div>
      </div>
  </div>

</script>
