<script>
(function(){
  backcontroller.Component.init({
    Name : "Main",
    templateSelector : '#MainTopSlider',
    stateProcessor : function(data){
    },
    targetSelector : ".MainTopSlider",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="MainTopSlider">

  <div style="background-color:#ffffff">
    <div style="background-image:url('./img/main/MainTopSlider.png');background-repeat:no-repeat;background-position:center center;width:100%;padding-bottom:250px;">
  </div>

</script>
