<script type="text/template" id="MainMiddleListSlider">
      <div style="background-color:#ffffff;margin-top: 50px;overflow:hidden;">

        <div class="MainMiddleListSlider-main blackgray-pagination swiper-container">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <div class="col-xs-12" style="margin:0px;padding:0px;">
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider1.png" style="width:100%;">
                </div>
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider2.png" style="width:100%;">
                </div>
              </div>
              <div class="col-xs-12" style="margin-top:5px;padding:0px;">
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider3.png" style="width:100%;">
                </div>
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider4.png" style="width:100%;">
                </div>
              </div>
            </div>
            <div class="swiper-slide">
              <div class="col-xs-12" style="margin:0px;padding:0px;">
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider1.png" style="width:100%;">
                </div>
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider2.png" style="width:100%;">
                </div>
              </div>
              <div class="col-xs-12" style="margin-top:5px;padding:0px;">
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider3.png" style="width:100%;">
                </div>
                <div class="col-xs-6" style="margin:0px;padding:0px;">
                  <img src="./img/main/MainMiddleListSlider4.png" style="width:100%;">
                </div>
              </div>
            </div>
          </div>
          <div class="mmls-pagination">
          </div>

  </div>
  </div>

</script>
