<script type="text/template" id="MainMiddleListSlider">
  <div style="background-color:#ffffff;margin-top: 50px;overflow:hidden;">
    <div class="col-xs-12" style="margin:0px;padding:0px;">
      <div class="col-xs-6" style="margin:0px;padding:0px;">
        <img src="./img/main/MainMiddleListSlider1.png" style="width:100%;">
      </div>
      <div class="col-xs-6" style="margin:0px;padding:0px;">
        <img src="./img/main/MainMiddleListSlider2.png" style="width:100%;">
      </div>
    </div>
    <div class="col-xs-12" style="margin-top:5px;padding:0px;">
      <div class="col-xs-6" style="margin:0px;padding:0px;">
        <img src="./img/main/MainMiddleListSlider3.png" style="width:100%;">
      </div>
      <div class="col-xs-6" style="margin:0px;padding:0px;">
        <img src="./img/main/MainMiddleListSlider4.png" style="width:100%;">
      </div>
    </div>
  </div>

  <div style="width:100%;text-align:center;width:100%;">
    <div style="margin-top:0px;background-color:black;width:15px;height:2px;display:inline-block;"></div>
    <div style="margin-top:0px;background-color:#999999;width:15px;height:2px;display:inline-block;"></div>
    <div style="margin-top:0px;background-color:#999999;width:15px;height:2px;display:inline-block;"></div>
  </div>


</script>
