<script type="text/template" id="MainFocusOn">
<style>
.bartitle{
	background-image:url("./img/main/bg.png");
	height:10px;
}

.bartitle .title{
  display: inline-block;
  margin-top:-6px;
  width:150px;
  background: white;
  font-size:20px;
}
.itemlist div{
	text-align:center;
}
</style>
<div class="focuson" style="margin-top:20px;padding-top:20px;overflow:hidden;">
  <div class="bartitle" style="width:100%;margin:0 auto;text-align:center;">
    <div class="title">FOCUS ON</div>
  </div>
	<div class="itemlist col-xs-12" style="padding-top:50px;">
		<div class="col-xs-6" onclick="GoDetail();">
			<img src="./img/focuson/MainFocusOn1.png" style="width:100%">
			<div style="color:#0961f2;padding:12px;">[bba_na_na]</div>
			<div>썸머홀릭 체크셔츠</div>
			<div style="color:#999999;padding:5px;">34,000원</div>
			<div style="color:#999999;padding:5px;"><img src="./img/focuson/hearton.png" style="margin-top:3px;width:25px;height:22px;"></div>
		</div>
		<div class="col-xs-6" onclick="GoDetail();">
			<img src="./img/focuson/MainFocusOn1.png" style="width:100%">
			<div style="color:#0961f2;padding:12px;">[bba_na_na]</div>
			<div>플라이밍고 체크셔츠</div>
			<div style="color:#999999;padding:5px;">34,000원</div>
			<div style="color:#999999;padding:5px;"><img src="./img/focuson/heartoff.png" style="margin-top:3px;width:25px;height:22px;"></div>
		</div>
  </div>
	<div class="itemlist col-xs-12" style="padding-top:30px;">
		<div class="col-xs-6" onclick="GoDetail();">
			<img src="./img/focuson/MainFocusOn1.png" style="width:100%">
			<div style="color:#0961f2;padding:12px;">[bba_na_na]</div>
			<div>썸머홀릭 체크셔츠</div>
			<div style="color:#999999;padding:5px;">34,000원</div>
			<div style="color:#999999;padding:5px;"><img src="./img/focuson/heartoff.png" style="margin-top:3px;width:25px;height:22px;"></div>
		</div>
		<div class="col-xs-6" onclick="GoDetail();">
			<img src="./img/focuson/MainFocusOn1.png" style="width:100%">
			<div style="color:#0961f2;padding:12px;">[bba_na_na]</div>
			<div>플라이밍고 체크셔츠</div>
			<div style="color:#999999;padding:5px;">34,000원</div>
			<div style="color:#999999;padding:5px;"><img src="./img/focuson/heartoff.png" style="margin-top:3px;width:25px;height:22px;"></div>
		</div>
	</div>
	<div class="itemlist col-xs-12" style="padding-top:30px;text-align:center;">
		<img src="./img/more.png" style="width:128px;height:35px;">
	</div>
	<div class="itemlist col-xs-12" style="padding-top:30px;text-align:center;">
		<img src="./img/2x2.png" style="width:33px;height:33px;margin:2px;">
		<img src="./img/2x6.png" style="width:33px;height:33px;margin:2px;">
	</div>
</div>
</script>
