<script>
(function(){

	backcontroller.Component.init({
		Name : "Main",
		templateSelector : '#MainFocusOn',
		stateProcessor : function(data){
		},
		targetSelector : ".MainFocusOn",
		afterEvent : function(){
		}
	})


	backcontroller.Component.push({
		Name : "Main",
		Data : {
			name : "MainFocusOn", // 위에 클래스 이름과 똑같이 정의해준다.
	    params : { "listCols": 2 ,"listType":1}, // 넘겨줄 파라메터.
			url : "http://0sun.net/pub/intop/yc/api/item.php?q=/focus" // JSON으로 보낼 데이터
		},
		templateSelector : '#ProductList', // 템프레이트 경로
		stateProcessor : function(data){
		},
		targetSelector : ".MainFocusOnList", // 템프레이터를 최종 적용할 경로
		afterEvent : function(){
		}
	})

})()
</script>

<script type="text/template" id="MainFocusOn">

  <div class="bartitle">
    <div class="title">FOCUS ON</div>
  </div>
	<div class="MainFocusOnList">
	</div>

</script>
