<script>
(function(){
	backcontroller.Component.init({
		Name : "Main",
		templateSelector : '#MainNewItem',
		stateProcessor : function(data){
		},
		targetSelector : ".MainNewItem",
		afterEvent : function(){
		}
	})


	backcontroller.Component.push({
		Name : "Main",
		Data : {
			name : "MainNewItem",
	    params : { "listCols": 3 ,"listType":2},
      url : "/yc/api/item.php"
		},
		templateSelector : '#ProductList',
		stateProcessor : function(data){
		},
		targetSelector : ".MainNewItemOnList",
		afterEvent : function(){
		}
	})
})()
</script>

<script type="text/template" id="MainNewItem">

	 <div class="bartitle">
    <div class="title">NEW ITEM</div>
  </div>

	<div class="MainNewItemOnList">
	</div>

</script>
