<script>
(function(){
	backcontroller.Component.init({
		Name : "Main",
    Data : {
      name : "NewItem",
      url : "http://0sun.net/pub/intop/yc/api/item.php"
    },
		templateSelector : '#MainNewItem',
		stateProcessor : function(data){
		},
		targetSelector : ".MainNewItem",
		afterEvent : function(){
		}
	})
})()
</script>

<script type="text/template" id="MainNewItem">

<style>
.bartitle{
	background-image:url("./img/main/bg.png");
	height:10px;
}

.bartitle .title{
  display: inline-block;
  margin-top:-6px;
  width:150px;
  background: white;
  font-size:20px;
}
</style>
<div class="focuson" style="margin-top:20px;padding-top:20px;overflow:hidden;">
	<div class="bartitle" style="width:100%;margin:0 auto;text-align:center;">
    <div class="title">NEW ITEM</div>
  </div>
	<% var itemlist = obj;%>
	<% var url = location.href.indexOf("localhost") < 0 ? "." : "http://0sun.net/pub/intop"%>

	<% for(i=0;i<itemlist.length;i++){%>
		<% if(i % 3 == 0){%>
		<div class="itemlist col-xs-12" style="padding-top:30px;">
		<%}%>
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<a href="./detail.html#<%=itemlist[i].it_id%>"><img src="<%=url%>/yc/data/item/<%=itemlist[i].it_img1%>" style="width:100%"></a>
			<div style="padding-left:10px;"><img src="<%=url%>/yc/data/face/<%=itemlist[i].it_model%>/<%=itemlist[i].it_model%>.jpg" style="margin-top:-25px;width:50px;height:50px;border-radius:50%;"></div>
			<div style="padding-left:10px;padding-bottom:20px"><%=itemlist[i].it_model%></div>
			<div style="padding-left:10px;padding-bottom:5px"><%=itemlist[i].it_name%></div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;"><%=itemlist[i].it_price%></div>
			<div style="display:inline-block;float:right;"><img src="<%=url%>/img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>

		<% if(i % 3 == 2 || i == (itemlist.length - 1)){%>
		</div>
		<%}%>

		<%}%>
	<div class="itemlist col-xs-12" style="padding-top:30px;text-align:center;">
		<img src="<%=url%>/img/more.png" style="width:128px;height:35px;">
	</div>
	<div class="itemlist col-xs-12" style="padding-top:30px;padding-bottom:30px;text-align:center;">
		<img src="<%=url%>/img/2x2.png" style="width:33px;height:33px;margin:2px;">
		<img src="<%=url%>/img/2x6.png" style="width:33px;height:33px;margin:2px;">
	</div>
</div>

</script>
