<script type="text/template" id="MainNewItem">
<style>
.bartitle{
	background-image:url("./img/main/bg.png");
	height:10px;
}

.bartitle .title{
  display: inline-block;
  margin-top:-6px;
  width:150px;
  background: white;
  font-size:20px;
}
</style>
<div class="focuson" style="margin-top:20px;padding-top:20px;overflow:hidden;">
	<div class="bartitle" style="width:100%;margin:0 auto;text-align:center;">
    <div class="title">NEW ITEM</div>
  </div>
	<div class="itemlist2 col-xs-12" style="margin-top:30px;padding:0px;">
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>

	</div>
	<div class="itemlist2 col-xs-12" style="margin-top:30px;padding:0px;">
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>
		<div class="col-xs-4" onclick="GoDetail();" style="padding:1px;">
			<img src="./img/newitem/MainNewItemProduct.png" style="width:100%">
			<div style="padding-left:10px;"><img src="./img/newitem/MainNewItemFace.png" style="margin-top:-25px;width:50px;height:50px;"></div>
			<div style="padding-left:10px;padding-bottom:20px">ro.junghwa</div>
			<div style="padding-left:10px;padding-bottom:5px">레드미 티셔츠</div>
			<div style="width:100%">
			<div style="padding-left:10px;padding-bottom:5px;display:inline-block;">24,000원</div>
			<div style="display:inline-block;float:right;"><img src="./img/focuson/heartoff.png" style="vertical-align:middle;width:25px;height:22px;"></div>
			</div>
		</div>

	</div>
	<div class="itemlist col-xs-12" style="padding-top:30px;text-align:center;">
		<img src="./img/more.png" style="width:128px;height:35px;">
	</div>
	<div class="itemlist col-xs-12" style="padding-top:30px;padding-bottom:30px;text-align:center;">
		<img src="./img/2x2.png" style="width:33px;height:33px;margin:2px;">
		<img src="./img/2x6.png" style="width:33px;height:33px;margin:2px;">
	</div>
</div>

</script>
