<script>
(function(){
	backcontroller.Component.init({
		Name : "Main",
		templateSelector : '#MainBestItem',
		stateProcessor : function(data){
		},
		targetSelector : ".MainBestItem",
		afterEvent : function(){
		}
	})

	backcontroller.Component.push({
		Name : "Main",
		Data : {
      name : "MainBestItem",
	    params : { "listCols": 2 ,"listType":1},
      url : "http://0sun.net/pub/intop/yc/api/item.php"
		},
		templateSelector : '#ProductList',
		stateProcessor : function(data){
		},
		targetSelector : ".MainBestItemOnList",
		afterEvent : function(){
		}
	})
})()
</script>

<script type="text/template" id="MainBestItem">

<div class="bartitle">
	<div class="title">BEST ITEMS</div>
</div>
<div class="MainBestItemOnList">
</div>

</script>
