<!---
filterMenu 관련
--->
<script type="text/template" id="filterMenu">
<% var filterlist = obj;%>
  <div class="menu menu-up col-xs-12">
      <div class="col-xs-4" onclick="filterMenu('<%=filterlist[0].menu[0]%>')">
        <span><%=filterlist[0].menu[0]%></span>
      </div>
      <div class="col-xs-4" onclick="filterMenu('<%=filterlist[0].menu[1]%>')">
        <span><%=filterlist[0].menu[1]%></span>
      </div>
      <div class="col-xs-4" onclick="filterMenu('<%=filterlist[0].menu[2]%>')">
        <span><%=filterlist[0].menu[2]%></span>
      </div>
  </div>
  <div class="menu menu-down col-xs-12">
    <div class="horizontal">
      <% for(i=1;i<filterlist.length;i++){%>
        <span onclick="filterItem('<%=filterlist[i].type%>')"><%=filterlist[i].name%></span>
      <%}%>
    </div>
  </div>
</script>
