<script>
(function(){
  backcontroller.Component.init({
    Name : "LeftMenu",
    DataURL : "./admin/json/filter.json",
    templateSelector : '#LeftMenuLatestList',
    stateProcessor : function(data){
      //backcontroller.state.FilterList.setList(data);
    },
    targetSelector : ".LeftMenuLatestList",
    afterEvent : function(){
    }
  })
})()
</script>
<script type="text/template" id="LeftMenuLatestList">
  <div class="submenu">
    <div class="group title">
      <div>최근에 본 상품</div>
    </div>
    <div class="group contents">
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
      <div class="horizontalElement">
        <div><img src="./img/shoplist/1.jpg"/></div>
      </div>
    </div>
  </div>
</script>
